<div class="credit-card" data-turbolinks="false">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
      <h1 class="text-center">Начните занятия сегодня!</h1>
      <h4 class="text-center">(Вы можете отменить подписку в любое время)</h4>
      <br>
      <div class="panel panel-c4s">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Оплата</h1>
        </div>
        <div class="panel-body text-center">
          <script src="https://js.stripe.com/v3/"></script>
          <div class="stripe-form">
            <%= form_for plan_subscriptions_path, url: {action: 'create', method: 'post'}, html: {class: 'c4s-form', id: 'payment-form'} do |form| %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <%= hidden_field_tag :plan, @plan %>
              <div class="row">
                <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4">
                  <div class="c4s-radio">
                    <input id="monthly" type="radio" name="plan_period" value="_monthly" checked="checked">
                    <label for="monthly"><span>Ежемесячно <span class="price">- <% if @plan == 'standart' %>2 500<% else %>5 000<% end %> руб.</span></span></label>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <div class="c4s-radio">
                    <input type="radio" name="plan_period" value="_annual" id="annual">
                    <label for="annual"><span>Ежегодно <span>- <% if @plan == 'standart' %>25 000<% else %>50 000<% end %> руб.</span></span><span class="label label-default">2 месяца бесплатно</span></label>
                  </div>
                </div>
              </div>

              <div class="group">
                <label><div class="field" id="card-element"></div></label>
                <br>
                <p class="text-with-highlight">Нажимая на кнопку "Начать обучение", вы соглашаетесь с <%= link_to "Условиями обслуживания", pages_terms_path, class: "text-red" %></p>
                <button type="submit" id="btn_pay">Начать обучение</button>
              </div>

              <div class="outcome">
                <div class="error">

                </div>
              </div>

            <% end %>
          </div>
          <script type="text/javascript">

          var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key]%>');

          var elements = stripe.elements();
          var btn_pay = document.getElementById('btn_pay');

          var card = elements.create('card', {
            hidePostalCode: true,
            style: {
              base: {
                iconColor: '#666EE8',
                color: '#31325F',
                lineHeight: '40px',
                fontWeight: 300,
                fontFamily: 'Helvetica Neue',
                fontSize: '15px',

                '::placeholder': {
                  color: '#CFD7E0',
                },
              },
            }
          });
          card.mount('#card-element');

          function setOutcome(result) {
            var errorElement = document.querySelector('.error');
            errorElement.classList.remove('visible');

            if (result.token) {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            } else if (result.error) {
              btn_pay.removeAttribute('disabled');
              btn_pay.innerHTML = "Начать обучение"
              errorElement.textContent = result.error.message;
              errorElement.classList.add('visible');
            }
          }

          card.on('change', function(event) {
            setOutcome(event);
          });

          // Handle form submission.
          var form = document.getElementById('payment-form');
          form.addEventListener('submit', function(event) {
            event.preventDefault();
            btn_pay.setAttribute('disabled', 'true');
            btn_pay.innerHTML = "<i class='fa fa-spinner fa-spin fa-1x' style='color:white;'></i> Обработка...";
            stripe.createToken(card).then(setOutcome);
          });

          // Send the token to your server.
          function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
          }

          </script>
        </div>
      </div>
    </div>
  </div>
</div>
