<div class="profile">
  <div class="row">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs profile-menu-vertical">
      <ul class="nav" role="tablist">
        <li role="presentation" class="active">
          <a href="#account" aria-controls="account" role="tab" data-toggle="tab">Аккаунт</a>
        </li>
        <li role="presentation">
          <a href="#subscription" aria-controls="subscription" role="tab" data-toggle="tab">Подписка</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 profile-content">
      <div class="panel">
        <div class="panel-heading panel-heading-tabs hidden-lg hidden-md profile-menu-horizontal">
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
              <a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a>
            </li>
            <li role="presentation">
              <a href="#subscription" aria-controls="subscription" role="tab" data-toggle="tab">Subscription</a>
            </li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane tab-account active" id="account">
              <%= image_tag avatar_url(current_user), :class => "img-circle center-block" %>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "c4s-form" }) do |f| %>
                <%= render partial: "shared/devisemes"%>

                <div class="col-lg-6 col-md-6 col-sm-6">
                  <%= f.text_field :name, autofocus: true, :id => "name", :placeholder => "Имя", :class => "c4s-input" %>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                  <%= f.email_field :email, :id => "email", :placeholder => "Email", :class => "c4s-input", autocomplete: "email" %>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p class="text-center">Ожидается подтверждение аккаунта for: <%= resource.unconfirmed_email %></p>
                    <br><br>
                  <% else %>
                    <br><br>
                  <% end %>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p class="text-center">Оставьте поля пустыми, если вы не хотите менять пароль</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                  <%= f.password_field :password, :id => "password", :placeholder => "Новый пароль", :class => "c4s-input", autocomplete: "new-password" %>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                  <%= f.password_field :password_confirmation, :id => "password_confirmation", :placeholder => "Введите новый пароль еще раз", :class => "c4s-input", autocomplete: "new-password" %>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <br><br>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                  <%= f.password_field :current_password, :id => "current_password", :placeholder => "Введите текущий пароль", :class => "c4s-input", autocomplete: "current-password" %>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                  <div class="tooltip right hidden-xs" role="tooltip">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                      <p>Введите текущий пароль</p>
                      <p>для сохранения изменений</p>
                    </div>
                  </div>
                  <div class="tooltip bottom hidden-lg hidden-md hidden-sm center-block" role="tooltip">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                      <p>Введите текущий пароль</p>
                      <p>для сохранения изменений</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                  <button class="c4s-btn c4s-btn-red" type="submit" name="action">Сохранить</button>
                </div>

              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane tab-subscription" id="subscription" data-turbolinks="false">
              <div class="row">
                <div class="col-lg-12">
                  <div class="panel panel-c4s">
                    <div class="panel-heading">
                      <h1 class="panel-title text-center">Информация о подписке</h1>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <% if current_user.plan == 'free' %>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <h5>Тариф:</h5>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                            <h4>Бесплатный тариф</h4>
                          </div>
                        <% else %>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <h5>Тариф:</h5>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                            <h4><%= getSubscriptionInfo(current_user.id).plan.nickname %></h4>
                            <p>
                              Следующий платеж: <span id="expired_date"></span>
                            </p>
                          </div>
                          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
                          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.9/moment-timezone-with-data.min.js"></script>
                          <script type="text/javascript">
                            var org_date = "<%= DateTime.strptime(getSubscriptionInfo(current_user.id).current_period_end.to_s, '%s') %>";

                            var dateParts = org_date.substring(0,10).split('-');
                            var timePart = org_date.substr(11);
                            myDate = dateParts[1] + '/' + dateParts[2] + '/' + dateParts[0] + ' ' + timePart;

                            var expired_date_UTC = moment.tz(new Date(myDate), "utc");
                            var expired_date_LOCAL = expired_date_UTC.clone().tz(moment.tz.guess());

                            $('#expired_date').html(expired_date_LOCAL.toString().substring(3, 21));
                          </script>
                        <% end %>
                      </div>
                      <div class="row">
                        <br>
                        <% if current_user.plan != 'free' %>
                          <% if current_user.plan == 'standart' %>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <%= link_to "Улучшить до безлимитного тарифа", new_plan_subscriptions_path(:plan => 'unlimited'), class: "c4s-btn c4s-btn-red", :"data-turbolinks" => false %>
                            </div>
                          <% end %>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 <% if current_user.plan == 'unlimited' %> col-lg-offset-3 col-md-offset-3 col-sm-offset-3 <% end %> ">
                            <button type="button" class="c4s-btn" style="width: 100%" data-toggle="modal" data-target="#cancelModal">Отменить подписку</button>
                          </div>
                          <div id="cancelModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header text-center">
                                  <button type="button" class="close" data-dismiss="modal">×</button>
                                  <h4 class="modal-title">Вы уверены?</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="text-center">
                                    <p>
                                        Вы <span style="color: red">потеряете доступ</span> к курсам, на которые были записаны<br>
                                        <b><%= DateTime.strptime(getSubscriptionInfo(current_user.id).current_period_end.to_s, "%s").strftime("%d.%m.%Y") %></b>
                                    </p>
                                    <br>
                                    <%= form_for(plan_subscriptions_path(:plan => current_user.plan), url: plan_subscriptions_path(:plan => current_user.plan), method: "delete" , html: {class: 'c4s-form'}) do |form| %>
                                      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                      <button class="c4s-btn" data-disable-with="<i class='fa fa-spinner fa-spin fa-1x' style='color:white;'></i> Отмена..." name="button" type="submit">Да, отменить подписку :(</button>&nbsp;&nbsp;
                                      <button type="button" class="c4s-btn c4s-btn-red" data-dismiss="modal">Нет, оставить мою подписку</button>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% else %>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                              <%= link_to "Улучшить тарифный план", pricing_path, class: "c4s-btn c4s-btn-red" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <br>
                </div>
                <% if current_user.plan != "free" %>
                  <div class="col-lg-12">
                    <div class="panel panel-c4s">
                      <div class="panel-heading">
                        <h1 class="panel-title text-center">Обновить данные банковской карты</h1>
                      </div>
                      <div class="panel-body text-center">
                        <div class="stripe-form update-card-form">

                          <%= form_for(update_card_path(:plan => current_user.plan), url: update_card_path(:plan => current_user.plan), method: "post" , html: {class: 'c4s-form', id: 'payment-form'}) do |form| %>
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                            <div class="group">
                              <label>
                                <div id="card-element" class="field"></div>
                              </label>
                              <br>
                              <button type="submit" id="btn_pay">Сохранить карту</button>
                            </div>
                            <div class="outcome">
                              <div class="error"></div>
                            </div>
                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>


  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>

var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key]%>');

var elements = stripe.elements();
var btn_pay = document.getElementById('btn_pay');

var card = elements.create('card', {
  hidePostalCode: true,
  style: {
    base: {
      iconColor: '#666EE8',
      color: '#31325F',
      lineHeight: '40px',
      fontWeight: 300,
      fontFamily: 'Helvetica Neue',
      fontSize: '15px',

      '::placeholder': {
        color: '#CFD7E0',
      },
    },
  }
});
card.mount('#card-element');

function setOutcome(result) {
  var errorElement = document.querySelector('.error');
  errorElement.classList.remove('visible');

  if (result.token) {
    // Send the token to your server.
    stripeTokenHandler(result.token);
  } else if (result.error) {
    btn_pay.removeAttribute('disabled');
    errorElement.textContent = result.error.message;
    errorElement.classList.add('visible');
  }
}

card.on('change', function(event) {
  setOutcome(event);
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();
  btn_pay.setAttribute('disabled', 'true');
  stripe.createToken(card).then(setOutcome);
});

// Send the token to your server.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

</script>
