<div class="login">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
      <div class="panel panel-c4s">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Регистрация</h1>
        </div>

        <div class="panel-body text-center">
          <div class="social-login social-buttons">
            <span>Зарегистрироваться через:</span>
            <%= link_to user_facebook_omniauth_authorize_path, id: "facebook_link" do %>
              <%= image_tag "facebook.png" %>
            <% end %>
            <%= link_to user_vkontakte_omniauth_authorize_path, id: "vk_link" do %>
              <%= image_tag "vk.png" %>
            <% end %>
            <%= link_to user_google_oauth2_omniauth_authorize_path, id: "google_link" do %>
              <%= image_tag "google.png" %>
            <% end %>
          </div>

          <div class="or">
            <hr>
            <span>ИЛИ</span>
          </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "c4s-form"} ) do |f| %>
            <%= render partial: "shared/devisemes"%>
            <div class="row">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
                <%= f.text_field :name, autofocus: true, :class => "c4s-input", :placeholder => "Имя" %>
                <%= f.email_field :email, autocomplete: "email", :class => "c4s-input", :placeholder => "Email" %>
                <%= f.password_field :password, autocomplete: "new-password", :class => "c4s-input", :placeholder => "Пароль" %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
                <p><small>Нажимая кнопку "Зарегистрироваться", вы подтверждаете, что ознакомились и принимаете условия <%= link_to "Политики конфиденциальности", pages_privacy_path %> и <%= link_to "Пользовательского соглашения", pages_terms_path %></small></p>
              </div>
            </div>

            <button class="c4s-btn c4s-btn-red" type="submit" name="action">Зарегистрироваться</button>
          <% end %>

          <p class="text-with-highlight">
            Уже есть аккаунт? <%= link_to "Войти", new_user_session_path %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
