<% if user_signed_in? %>
  <% if current_user.completed?(task) %>
    <%= link_to uncomplete_path(task_id: task.id), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-1x' style='font-size: 16px; color:#28B62C;'></i>", remote: true, method: "delete"}, rel: "nofollow" do %>
      <i class="fa fa-incompleted fa-check-circle fa-lg"></i>
    <% end %>
  <% else %>
    <%= link_to complete_path(task_id: task.id), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-1x' style='font-size: 16px; color:#28B62C;'></i>", remote: true, method: "post"}, rel: "nofollow" do %>
      <i class="fa fa-completed fa-check-circle fa-lg"></i>
    <% end %>
  <% end %>
<% else %>
  <i class="fa fa-incompleted fa-check-circle fa-lg"></i>
<% end %>
