$('span#task_complete_button_<%= @task.id %>').html('<%= j render partial: "button", locals: {task: @task} %>');
$('span#task_complete_button_<%= @task.id %>').parent().parent().attr("class", "list-group-item task-completed");
$('#user_progress').html('<% if current_user.completed_tasks.count > 0 %><%= current_user.completed_tasks.count %><% else %>0<% end %>');
$('.bar__completed').css('width', '<%= (current_user.completed_tasks.count.to_f / @project.tasks.where("header <> '1'").count.to_f * 100).round(2) %>%');
