<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Смена пароля</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render partial: "shared/devisemes"%>
      <%= f.hidden_field :reset_password_token %>

      <div class="input-field">
        <%= f.password_field :password, autofocus: true, :placeholder => "Введите новый пароль", autocomplete: "new-password" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password_confirmation, :placeholder => "Подтвердите новый пароль", autocomplete: "off" %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Сменить пароль</button>
    <% end %>
  </div>
</div>
