<div class="login">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
      <div class="panel panel-c4s">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Восстановление пароля</h1>
        </div>

        <div class="panel-body text-center">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"c4s-form"}) do |f| %>
            <%= render partial: "shared/devisemes"%>

            <div class="row">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
                <%= f.email_field :email, :id =>"email", :placeholder => "Email", autofocus: true, autocomplete: "email", class: "c4s-input" %>
              </div>
            </div>

            <button class="c4s-btn c4s-btn-red" type="submit" name="action">Восстановить пароль</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
