<footer class="text-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "footer-logo" %>
    <% end %>

    <p>© 2019 ИП Голосниченко А.О. (ИНН 632131078666)</p>
    <div class="footer-links">
      <%= link_to "О компании", pages_about_path %> -
      <%= link_to "Пользовательское соглашение", pages_terms_path %> -
      <%= link_to "Политика конфиденциальности", pages_privacy_path %> -
      <%= link_to "Безопасность платежей", pages_payments_path %>
    </div>
    <p>Свяжитесь с нами <b><a href="mailto:anton@golosnichenko.pro?Subject=Support" target="_top">anton@golosnichenko.pro</a></b></p>

    <div class="footer-social text-center social-buttons">
        <a href="https://twitter.com/StartupLessonRu" target="_blank"><%= image_tag "twitter.png" %></a>
        <a href="https://facebook.com/Startup-Lessonsru-468290447331256/" target="_blank"><%= image_tag "facebook.png" %></a>
        <a href="https://vk.com/startuplessons" target="_blank"><%= image_tag "vk.png" %></a>
        <a href="https://www.youtube.com/channel/UCFaUCYjnQ-nITJROmlKq6lg" target="_blank"><%= image_tag "youtube.png" %></a>
    </div>
</footer>
