<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header hidden-sm hidden-xs">
            <%= link_to "Startup Lessons", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li class="hidden-xs"><%= link_to "Блог", blog_path %></li>
            <li class="hidden-xs"><%= link_to "Курсы", root_path %></li>


              <li class="hidden-xs"><%= link_to "Стоимость", pricing_path %></li>
              <% if(!user_signed_in?) %>
                <li class="hidden-xs"><%= link_to "Вход", new_user_session_path %></li>
                <li class="hidden-xs"><%= link_to "Регистрация", new_user_registration_path, class: "c4s-btn c4s-btn-red" %></li>
              <% else %>
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= image_tag avatar_url(current_user), :class => "img-circle avatar-medium" %>
                        <%= current_user.name %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Мои проекты", myprojects_path %></li>
                        <li><%= link_to "Мой профиль", edit_user_registration_path, :"data-turbolinks" => false %></li>
                        <li role="separator" class="divider hidden-xs"></li>
                        <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
              <% end %>

              <div class="row hidden-sm hidden-md hidden-lg">
                  <div class="col-xs-2">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="fa fa-list-ul fa-lg"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><%= link_to "Блог", blog_path %></li>
                              <li><%= link_to "Курсы", root_path %></li>
                              <li><%= link_to "Стоимость", pricing_path %></li>
                              <% if(!user_signed_in?) %>
                                <li><%= link_to "Вход", new_user_session_path %></li>
                              <% end %>
                          </ul>
                      </li>
                  </div>
                  <div class="col-xs-10">
                    <% if(!user_signed_in?) %>
                      <li><%= link_to "Регистрация", new_user_registration_path, class: "c4s-btn c4s-btn-red" %></li>
                    <% else %>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <%= image_tag avatar_url(current_user), :class => "img-circle avatar-medium" %>
                                <%= current_user.name %>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><%= link_to "Мои проекты", myprojects_path %></li>
                              <li><%= link_to "Мой профиль", edit_user_registration_path %></li>
                              <li role="separator" class="divider hidden-xs"></li>
                              <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
                            </ul>
                        </li>
                    <% end %>
                  </div>
              </div>


        </ul>
    </div>
</nav>
