<div class="main-profile">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 privacy">
      <h1>Юридическое лицо</h1>
      <p>
        Индивидуальный Предприниматель <b>Голосниченко Антон Олегович</b><br>
        <b>ИНН</b> 632131078666<br>
        <b>ОГРНИП</b> 319631300086194<br>
        <b>Юридический адрес:</b> г. Тольятти, улица Дзержинского, д. 69, кв. 94<br>
        <b>Название банка получателя:</b> Филиал Точка Публичного акционерного общества Банка «Финансовая Корпорация Открытие»<br>
        <b>Расчетный счет:</b> 40802810214500024404<br>
        <b>Корреспондентский счет:</b> 30101810845250000999 в ГУ банка России по ЦФО<br>
        <b>БИК банка:</b> 044525999<br>
        <b>ИНН банка:</b> 7706092528<br>
        <b>КПП банка:</b> 770543002<br>
        <b>ОКПО банка:</b> 04503985<br>
        <b>ОГРН банка:</b> 1027739019208<br>
        <b>ОКТМО банка:</b> 45906000000<br>
      </p>
    </div>
  </div>
</div>
