<div class="main-profile">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 payments">
      <p></p>
      <h1>Платежи. Оплата банковской картой онлайн</h1>

      <p>Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa, MasterCard, Maestro и МИР. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.</p>
      <p></p>

      <h1>Гарантии безопасности</h1>

      <p>Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.2. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.</p>

      <p>В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов платежного сервиса по электронной почте support@cloudpayments.ru.</p>
      <p></p>

      <h1>Безопасность онлайн платежей</h1>

      <p>Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.</p>

      <p>Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен для проведения платежей онлайн, на специальной странице.</p>

      <p>Безопасность обработки Интернет-платежей гарантирует ООО «КлаудПэйментс». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="https://cloudpayments.ru/storage/YXxkwzvZcYOtIrDEiCzpKGURka4hnMgdrZoSY4Rc.png" alt="" style="display: block; max-height:70px; margin: auto;">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="https://static.cloudpayments.ru/wiki/docs/mastercard-securecode.png" alt="" style="display: block; max-height:70px; margin: auto;">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="https://static.cloudpayments.ru/wiki/docs/MIRaccept.png" alt="" style="display: block; max-height:70px; margin: auto;">
        </div>
      </div>
      <p></p>

      <h1>Возврат товаров</h1>

      <p>Постановление Правительства РФ от 19 января 1998 г. В случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, парфюмерно-косметические изделия, товары бытовой химии и другие товары), покупатель вправе по своему выбору потребовать замены такого товара товаром надлежащего качества либо соразмерного уменьшения покупной цены. Вместо предъявления указанных требований покупатель вправе отказаться от приобретенного товара и потребовать возврата уплаченной за товар денежной суммы. При этом покупатель по требованию продавца и за его счет должен возвратить полученный товар ненадлежащего качества.</p>
    </div>
  </div>
</div>
