<div class="subscription">
  <div class="row">
          <div class="col-lg-12">

                <h1 class="text-center">Начни создавать свой стартап сегодня!</h1>

              <br>
          </div>

          <!-- PLANS SECTION -->
          <div class="col-lg-12 col-md-12">
              <div class="row">

                <!-- Ninja Plan -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="panel panel-c4s panel-c4s-border-ninja">
                        <div class="panel-heading">
                            <h1 class="panel-title text-center">Бесплатный тариф</h1>
                        </div>
                        <div class="panel-body text-center">
                            <p>Доступ ко всем бесплатным курсам</p>
                            <p>Ограниченная поддержка</p>
                            <hr>

                              <h2>Бесплатно</h2>

                              <% if user_signed_in? %>
                                <% if (current_user.plan == "free")%>
                                  <p class="c4s-text-ninja">Сейчас вы на этом тарифе</p>
                                <% else %>
                                  <%= link_to plan_subscriptions_path(:plan => current_user.plan), method: :delete, data: {confirm: "Вы уверены, что хотите отменить подписку и перейти на бесплатный тариф?"} do %>
                                    <button class="c4s-btn c4s-btn-ninja">Начать</button>
                                  <% end %>
                                <% end %>
                              <% else %>
                                <%= link_to new_user_session_path do %>
                                  <button class="c4s-btn c4s-btn-ninja">Начать</button>
                                <% end %>
                              <% end %>
                        </div>
                    </div>
                </div>

                  <!-- Value Plan -->
                  <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="panel panel-c4s panel-c4s-border-value">
                          <div class="panel-heading">
                              <h1 class="panel-title text-center">Стандартный тариф</h1>
                          </div>
                          <div class="panel-body text-center">
                              <p>Доступен <span style="padding: 3px 7px; background-color: #26D59C; color: #000000; border-radius: 5px;">1</span> новый Продвинутый проект каждый месяц</p>
                              <p>Доступ ко всем бесплатным курсам</p>
                              <p>Полноценная поддержка и ответы на вопросы</p>
                              <p>Предоставляется исходный код</p>
                              <hr>

                                <h2>2 500 р./месяц</h2>

                              <p><small>Ежемесячная подписка</small></p>

                              <% if user_signed_in? %>
                                <% if (current_user.plan == "standart")%>
                                  <p class="c4s-text-value">Сейчас вы на этом тарифе</p>
                                <% else %>
                                  <%= link_to new_plan_subscriptions_path(:plan => 'standart'), id: "value-plan", :"data-turbolinks" => false  do %>
                                    <button class="c4s-btn c4s-btn-value">Начать</button>
                                  <% end %>
                                <% end %>
                              <% else %>
                                <%= link_to new_user_session_path do %>
                                  <button class="c4s-btn c4s-btn-value">Начать</button>
                                <% end %>
                              <% end %>

                          </div>
                      </div>
                  </div>

                  <!-- Unlimited Plan -->
                  <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="panel panel-c4s panel-c4s-border-unlimited">
                          <div class="panel-heading">
                              <h1 class="panel-title text-center">Безлимитный тариф</h1>
                          </div>
                          <div class="panel-body text-center">
                              <p>Получите безлимитный доступ ко <span style="padding: 3px 7px; background-color: #ebac00; color: #000000; border-radius: 5px;">ВСЕМ</span> Продвинутым проектам</p>
                              <p>Доступ ко всем бесплатным курсам</p>
                              <p>Полноценная поддержка и ответы на вопросы</p>
                              <p>Предоставляется исходный код</p>
                              <hr>

                                <h2>5 000 р./месяц</h2>

                              <p><small>Ежемесячная подписка</small></p>

                              <% if user_signed_in? %>
                                <% if (current_user.plan == "unlimited")%>
                                  <p class="c4s-text-unlimited">Сейчас вы на этом тарифе</p>
                                <% else %>
                                  <%= link_to new_plan_subscriptions_path(:plan => 'unlimited'), id: "unlimited-plan", :"data-turbolinks" => false  do %>
                                    <button class="c4s-btn c4s-btn-unlimited">Начать</button>
                                  <% end %>
                                <% end %>
                              <% else %>
                                <%= link_to new_user_session_path do %>
                                  <button class="c4s-btn c4s-btn-unlimited">Начать</button>
                                <% end %>
                              <% end %>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <hr>
          </div>

      </div>

      <!-- Q&A SECTION -->
      <div class="row">
        <div class="col-lg-12">
            <br>
            <h1 class="text-center">Вопросы и ответы</h1>
            <br>
        </div>
        <div class="col-lg-offset-1 col-lg-10">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Это ежемесячная подписка?</h3>
                            <p>Да, и оплата будет взиматься один раз в месяц. Вы можете отменить подписку в любой момент.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Когда я могу начать новый проект?</h3>
                            <p>Вы можете разблокировать Продвинутый проект каждые 30 дней на Стандартном тарифе. На Безлимитном тарифе вы можете начать любой из проектов в любое время.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Как долго у меня будет доступ к проектам?</h3>
                            <p>У вас будет доступ к проектам, которые вы начали, пока не закончится дата вашей подписки.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Что если я занят и у меня не хватает времени завершить проект?</h3>
                            <p>Вы можете отменить вашу подписку в любое время и переподписаться заново позже.
                              Как только вы переподпишитесь, вы сможете продолжить проекты, которые начали ранее.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
