<div class="main-profile">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 privacy">
      <h1>Конфиденциальность</h1>

      <p>Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.</p>

      <h1>1. Определения</h1>

      <p>Интернет проект https://www.startup-lessons.ru (далее — URL, «мы») серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта https://www.startup-lessons.ru (далее — «вы», «посетители сайта»). Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, адрес электронной почты или название компании) посетителя сайта, а также информацию о действиях, совершаемых вами на сайте https://www.startup-lessons.ru. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).</p>

      <h1>2. Использование информации</h1>

      <p>Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг https://startup-lessons.ru</p>

      <h1>3. Ссылки</h1>

      <p>Сайт https://startup-lessons.ru может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.</p>

      <h1>4. Ограничение ответственности</h1>

      <p>Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт https://startup-lessons.ru и вся размещенная на нем информация представлены по принципу «как есть» без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту https://startup-lessons.ru или вследствие посещения сайта и использования размещенной на нем информации.</p>

      <h1>5. Контакты</h1>

      <p>По вопросам, касающимся настоящей политики, просьба обращаться по адресу <a href="mailto:maxilead.agency@gmail.com?subject=Privacy">maxilead.agency@gmail.com</a></p>

      <h1>Юридическое лицо</h1>
      <p>
        Индивидуальный Предприниматель <b>Голосниченко Антон Олегович</b><br>
        <b>ИНН</b> 632131078666<br>
        <b>ОГРНИП</b> 319631300086194<br>
        <b>Юридический адрес:</b> г. Тольятти, улица Дзержинского, д. 69, кв. 94<br>
        <b>Название банка получателя:</b> Филиал Точка Публичного акционерного общества Банка «Финансовая Корпорация Открытие»<br>
        <b>Расчетный счет:</b> 40802810214500024404<br>
        <b>Корреспондентский счет:</b> 30101810845250000999 в ГУ банка России по ЦФО<br>
        <b>БИК банка:</b> 044525999<br>
        <b>ИНН банка:</b> 7706092528<br>
        <b>КПП банка:</b> 770543002<br>
        <b>ОКПО банка:</b> 04503985<br>
        <b>ОГРН банка:</b> 1027739019208<br>
        <b>ОКТМО банка:</b> 45906000000<br>
      </p>
    </div>
  </div>
</div>
