<div class="main-profile">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 privacy">

      <h1>Пользовательское соглашение</h1>
      <p>Текст настоящего пользовательского соглашения, постоянно размещенный в сети Интернет по сетевому адресу ​ https://startup-lessons.ru/pages/terms, содержит все существенные условия и является предложением Индивидуального Предпринимателя Голосниченко Антона Олеговича заключить соглашение с любым третьим лицом, использующим сайт в сети Интернет ​ https://startup-lessons.ru/ (далее - Сайт) на указанных в тексте настоящего пользовательского соглашения условиях. Текст настоящего пользовательского соглашения является публичной офертой​  ​ в​  ​ соответствии​ с​ пунктом  2​ статьи 437​ Гражданского кодекса Российской​ Федерации.</p>

      <p>Надлежащим акцептом настоящей оферты в соответствии со статьей 438 Гражданского кодекса Российской Федерации считается последовательное осуществление третьим лицом в совокупности​  ​ всех​  ​ следующих​  ​ действий:</p>

      <p>Ознакомление​  ​ с​  ​ условиями​  ​ настоящего​  ​ пользовательского​  ​ соглашения;
      Внесение достоверных и актуальных сведений (принадлежащий третьему лицу и действующий адрес электронной почты, имя) в регистрационную форму, расположенную в меню «Регистрация» в сети Интернет по сетевому адресу https://startup-lessons.ru/sign_up​, либо внесение тех же сведений путем их импорта из аккаунтов Facebook, Google или VK при помощи соответствующих веб-приложений, расположенных в той​ же​ регистрационной форме;</p>

      <p>С момента заполнения регистрационной формы и нажатия на кнопку "Зарегистрироваться", регистрация на Сайте считается завершенной, оферта надлежащим образом акцептованной, а условия настоящего пользовательского соглашения обязательными для зарегистрированного​ лица.</p>

      <p><b>Внимание! Если Вы не согласны с условиями настоящего пользовательского соглашения, не регистрируйтесь​  ​ на​  ​ сайте​  ​ https://startup-lessons.ru​  ​ и​  ​ не​  ​ используйте​  ​ его​  ​ сервисы.</b></p>
      <br>

      <h1>1. ТЕРМИНЫ​  ​ И​  ​ ОПРЕДЕЛЕНИЯ</h1>
      <p>1.1. В настоящем пользовательском соглашении, если из его текста прямо не вытекает иное, следующие​  ​ термины​  ​ будут​  ​ иметь​  ​ указанные​  ​ ниже​  ​ значения:</p>

      <p><b>«Администратор»</b></p>

      <p>Индивидуальный предприниматель Голосниченко Антон Олегович, ОГРНИП 319631300086194,
      ИНН 632131078666, адрес: 445032, г. Тольятти, улица Дзержинского,​  ​  ​ д.69,​  ​ кв.94</p>

      <p><b>«Пользователь»</b></p>

      <p>Лицо, заключившее с Администратором настоящее пользовательское соглашение путем акцепта оферты, расположенной в сети Интернет по сетевому адресу https://startup-lessons.ru/pages/terms</p>

      <p><b>«Автор»</b></p>

      <p>Пользователь,​  ​ чьи​  ​ статьи​  ​ (произведения)​  ​ опубликованы​  ​ на​  ​ Сайте​ в разделе​  ​ Блог  ​ по​  ​ сетевому​  ​ адресу​  ​ https://startup-lessons.ru/blog.​  </p>

      <p><b>«Преподаватель»</b></p>

      <p>Физическое лицо, выступающее в качестве докладчика, лектора, эксперта, тренера, автора, проводящее занятие в рамках программ обучения или курсов, представляющее информацию по теме занятий и, если применимо, комментирующее выполнение Пользователем заданий, являющихся практической частью соответствующего​ занятия.</p>

      <p><b>«Видеокурсы»</b></p>

      <p>Совокупность аудиовизуальных (видеолекции), текстовых, графических материалов и программ для ЭВМ (программные средства для выполнения тестовых заданий), объединенных общей темой, предназначенных для обучения Пользователя с целью получения ими новых или развития имеющихся навыков и знаний по указанной теме.</p>

      <p><b>«Бесплатное занятие»</b></p>

      <p>Аудиовизуальный материал (видеолекция), доступ к которому, а также ко всем материалам которого, предоставляется Администратором бесплатно для всех Пользователей, зарегистрировавшихся на участие в таком вебинаре. Администратор проводит бесплатные занятия для всех заинтересованных Пользователей. </p>

      <p><b>«Личный​  ​ кабинет»</b></p>

      <p>Совокупность защищенных страниц Сайта, созданных в результате регистрации Пользователя, используя которые Пользователь имеет возможность оплаты доступа к Библиотеке курсов Администратора, возможность доступа к бесплатным занятиям, возможность получения доступа к Библиотеке курсов в полном объеме после оплаты такого доступа, возможность получения информации о них, возможность изменения сведений о Пользователе, пароля, а также осуществления иных действий, предусмотренных явными функциями​  ​ Личного​  ​ кабинета.</p>
      <p>Доступ в Личный кабинет осуществляется путем внесения учетных данных​ в​ предусмотренные​  для​ этого поля на Сайте.</p>

      <p><b>«Сайт»</b></p>

      <p>Совокупность информации, текстов, графических элементов, дизайна, изображений, фото, аудио и видеоматериалов, и иных      охраняемых результатов интеллектуальной деятельности и средств индивидуализации Администратора, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по​  ​ сетевому​  ​ адресу​  https://startup-lessons.ru​. Сайт является Интернет-ресурсом, предназначенным для предоставления Пользователю информационных материалов с целью организации самообучения Пользователя навыкам по определенной теме или необходимых для освоения определенной специальности.</p>

      <p><b>«Стимулирующее мероприятие»</b></p>

      <p>Акция, конкурс или иная не противоречащая законодательству активность Администратора, направленная на повышение интереса Пользователя к Библиотеке  курсов,​  к​ функционированию онлайн-университета​ в​ целом.</p>

      <p><b>«Соглашение»</b></p>

       <p>Настоящее​ пользовательское соглашение.</p>

      <p><b>«Стороны»</b></p>

      <p>Администратор​ и​​ Пользователь</p>


      <p>1.2. Все остальные термины и определения, встречающиеся в тексте Соглашения, толкуются Сторонами в соответствии с законодательством Российской Федерации и сложившимися в сети Интернет​  ​ обычными​  ​ правилами​  ​ толкования​  ​ соответствующих​  ​ терминов</p>
      <p>1.3. Названия заголовков (статей) Соглашения предназначены исключительно для удобства пользования​  ​ текстом​  ​ Соглашения​  ​ и​  ​ буквального​  ​ юридического​  ​ значения​  ​ не​  ​ имеют.</p>
      <br>

      <h1>2. ПРЕДМЕТ​ СОГЛАШЕНИЯ</h1>
      <p>2.1. Администратор предоставляет Пользователю право использовать Сайт, личный кабинет, сервисы Сайта по их прямому назначению, в том числе путем осуществления доступа к Сайту, Личному кабинету с помощью персональных компьютеров и мобильных устройств и использования явных функций Сайта, личного кабинета на условиях безвозмездной простой (неисключительной) лицензии на территории доступа к Сайту, личному кабинету и к их функциям, на срок, в течение которого​  ​ Сайт,​  ​ личный​  ​ кабинет​  ​ и​  ​ их​  ​ функции​  ​ остаются​  ​ доступны​  ​ для​  ​ Пользователя.</p>
      <p>2.2. Администратор оказывает Пользователю услуги по предоставлению доступа к Сайту, видеокурсам, бесплатным занятиям с целью организации самообучения Пользователя навыкам по определенной теме или необходимых для освоения</p>
      <br>

      <h1>3. ПОРЯДОК​ РЕГИСТРАЦИИ​ НА​ САЙТЕ</h1>
      <p>3.1. Администратор предоставляет Пользователю до его регистрации на Сайте доступ к информации о Сайте, курсах, о библиотеке курсов, о бесплатных занятиях, а также доступ к обзорам и статьям, размещенным на сайте в разделе «Блог» по сетевому​  ​ адресу​  ​ http://startup-lessons.ru/blog​ .</p>
      <p>3.2. После регистрации на Сайте Пользователю в дополнение к доступу, указанному в пункте 3.1 Соглашения, предоставляется доступ к бесплатным занятиям, предоставляется возможность приобретения за плату доступа к программам обучения и к библиотеке курсов, а также​  ​ доступ​  ​ к​  ​ иным​  ​ функциям​  ​ Сайта​  ​ и​  ​ Личного​  ​ кабинета,​  ​ предоставляемым​  ​ явно.</p>
      <p>3.3. После того, как Пользователь заполнил все необходимые поля формы регистрации на Сайте по сетевому адресу ​ https://startup-lessons.ru/sign_up​ , Администратор в автоматическом режиме  завершает​  ​ регистрацию Пользователя.</p>
      <p>3.4. По завершении регистрации на Сайте Пользователю предоставляется доступ к Личному кабинету по учетным данным – адресу электронной почты и паролю. Пароль может быть изменен Пользователем​  ​ в​  ​ любое​  ​ время​  ​ после​  ​ регистрации.</p>
      <p>3.5. На Пользователе лежит обязанность обеспечить безопасность и сохранность пароля. При утрате либо компрометации пароля, а также в случае незаконного завладения третьими лицами доступа к Личному кабинету, Пользователь обязан незамедлительно сообщить об этом Администратору по телефону +7 (916) 726-80-93 либо на адрес электронной почты maxilead.agency@gmail.com​ . До момента поступления такого сообщения все действия, совершенные с использованием Личного кабинета Пользователя будут считаться совершенными самим Пользователем.</p>
      <br>

      <h1>4. ПОРЯДОК​  ​ ПОЛЬЗОВАНИЯ​  ​ ЛИЧНЫМ​  ​ КАБИНЕТОМ​  ​ И​  ​ САЙТОМ</h1>
      <p>4.1. По завершении регистрации Пользователь получает доступ к Личному кабинету. В Личном кабинете Пользователя отображается информация о начатых и завершенных Пользователем курсах, о возможности доступа Пользователя к Библиотеке курсов за плату и к бесплатным занятиям, о стимулирующих мероприятиях, о произведенных платежах в счет оплаты доступа к библиотеке курсов и программам​  ​ обучения.</p>
      <p>4.2. В Личном кабинете Пользователь имеет возможность оплатить доступ к библиотеке курсов</p>
      <p>4.3. Для доступа к определенным курсам, программам обучения и бесплатным занятиям от Пользователя может потребоваться соблюдение специальных технических требований Администратора,​  ​ размещенных​  ​ на​  ​ Сайте.</p>
      <p>4.4. Администратор вправе в любое время по своему усмотрению в отношении курсов и программ обучения, в том числе в отношении бесплатных занятий, изменять темы отдельных занятий, менять содержание занятий, количество, наименование и вид материалов, входящих в состав курсов, бесплатных занятий, даты и время проведения соответствующих занятий и их продолжительность, а также, в случае необходимости, заменять Преподавателей по отдельным занятиям. При этом случае Администратор гарантирует, что подобные изменения не приведут к ухудшению качества курсов, и бесплатных занятий.</p>
      <p>4.5. Пользователь обязан пользоваться Сайтом и Личным кабинетом добросовестно, не нарушая законодательство Российской Федерации, права и свободы третьих лиц, нормы морали и нравственности.</p>
      <br>

      <h1>5. УСЛОВИЯ​  ​ И​  ​ ПОРЯДОК​  ​ ДОСТУПА​  ​ К​  ​ ВИДЕОКУРСАМ</h1>
      <p>5.1. Пользователю доступна информация о каждом видеокурсе, его описание, о темах и продолжительности занятий, о продолжительности курса, Преподавателях курса, количестве и названии материалов (аудиовизуальных, текстовых, графических) в составе курса, о рейтинге курса. Пользователю доступна информация о стоимости ежемесячной подписки на доступ к курсам и доступна возможность оплаты​  подписки.</p>
      <p>5.2. Доступ к каждому видеокурсу предоставляется Пользователям, оплатившим в порядке, установленном Соглашением и указанном на соответствующей странице Сайта, стоимость ежемесячной подписки для доступа к курсам.​  ​ Доступ​  ​ предоставляется​  ​ через​  ​ личный​  ​ кабинет.</p>
      <p>5.3 По завершению курса Пользователь вправе оценить курс и оставить комментарий о курсе. Администратор оставляет за собой право удалить комментарии Пользователей, признанные Администратором​  ​ противоречащими​  ​ законодательству​  ​ Российской​  ​ Федерации.</p>
      <br>

      <h1>6. ПОРЯДОК​  ​ ДОСТУПА​  ​ К​  ​ БЕСПЛАТНЫМ​  ​ ЗАНЯТИЯМ</h1>
      <p>6.1. Информация о предстоящих бесплатных занятиях, темах таких занятий и Преподавателях размещается на соответствующей странице Сайта.</p>
      <p>6.2. Пользователь имеет возможность зарегистрироваться на предстоящее бесплатное занятие, перейдя по ссылке "Начать курс" и заполнив регистрационную форму. Об успешной регистрации на бесплатное занятие Пользователь информируется сообщением в открывшейся после перехода по ссылке странице Сайта. </p>
      <br>

      <h1>7.​  ​ СТИМУЛИРУЮЩИЕ​  ​ МЕРОПРИЯТИЯ.​</h1>
      <p>7.1. Администратор вправе проводить любые стимулирующие мероприятия (в любой форме и с применением любых технологий), размещая информацию о таких мероприятиях на любых  страницах​  ​ и​  ​ в​  ​ любых​  ​ разделах​  ​ Сайта​  ​ по​  ​ своему​  ​ усмотрению.</p>
      <br>

      <h1>8.​  ​ ФИНАНСОВЫЕ​  ​ УСЛОВИЯ</h1>
      <p>8.1. Администратор предоставляет доступ без взимания платы к бесплатным занятиям, к материалам в разделе Блог, а также ко всем иным функциональным возможностям Сайта, в описании которых отсутствует или из сути которых не предполагается взимание какой-либо платы за​  ​ использование.</p>
      <p>8.2. Администратор устанавливает стоимость ежемесячной подписки на доступ к видеокурсам  путем публикации такой стоимости на странице https://startup-lessons.ru/pricing. Администратор вправе изменять стоимость ежемесячной подписки на доступ к видеокурсам в любое время по своему усмотрению. При этом стоимость такой ежемесячной подписки, уже оплаченная Пользователем, не меняется ни в сторону увеличения, ни в сторону уменьшения. Новая цена распространяется на правоотношения Администратора​  ​ и​  ​ Пользователя,​  ​ возникшие​  ​ после​  ​ ее​  ​ изменения.</p>
      <p>8.3. Администратор вправе предоставлять отдельным Пользователям скидки на оплату стоимости ежемесячной подписки на доступ к видеокурсам. Размер скидки, порядок и условия ее предоставления  Администратор​  ​ устанавливает​  ​ по​  ​ своему​  ​ усмотрению.</p>
      <p>8.4. Администратор вправе оказывать Пользователю любые дополнительные услуги без взимания отдельной​  ​ платы.</p>
      <br>

      <h1>ПОРЯДОК​  ​ ОПЛАТЫ​  ​ ВИДЕОКУРСОВ</h1>
      <p>8.5. При оформлении ежемесячной подписки на доступ к видеокурсам с Пользователя будет взиматься абонентская плата каждые 30 (тридцать) календарных дней, если не указано иное, пока подписка не будет аннулирована в личном кабинете Пользователя</p>
      <p>8.6. Любое снижение абонентской платы вступает в силу в следующем периоде подписки после уведомления Пользователя. Любое увеличение абонентской платы вступает в силу с момента уведомления Пользователя</p>
      <p>8.7. После последовательного нажатия Пользователем кнопок “Начать” и “Начать обучение” на странице https://startup-lessons.ru/pricing, Пользователь автоматически перенаправляется на страницу оплаты и после выбора сервиса для оплаты совершает действия, предусмотренные правилами соответствующих электронных систем платежей и процессинговых компаний. Моментом оплаты в этом случае считается момент положительного результата авторизации​  ​ платежа​  ​ в​  ​ выбранной​  ​ системе​  ​ платежей.</p>
      <br>


      <h1>9.​  ​ ИНТЕЛЛЕКТУАЛЬНАЯ​  ​ СОБСТВЕННОСТЬ​  ​ И​  ​ ОГРАНИЧЕНИЯ​  ​ ПРИ​  ​ ПОЛЬЗОВАНИИ​  ​ САЙТОМ</h1>
      <p>9.1. Используя Сайт, Пользователь признает и соглашается с тем, что все без изъятий  содержимое Сайта (в том числе, но не ограничиваясь: аудиовизуальные произведения, текстовые и графические материалы, программы для ЭВМ, товарные знаки/знаки обслуживания, логотипы),  структура содержимого Сайта, программный код Сайта и/или его частей являются результатами интеллектуальной деятельности, исключительное право на которые в полном объеме принадлежит  Администратору. Исключительное право а также иные интеллектуальные права (если применимо) на вышеуказанные результаты интеллектуальной деятельности не переходят к Пользователю в результате​  ​ пользования​  ​ Сайтом​  ​ и​  ​ заключения​  ​ Соглашения.</p>
      <p>9.2. Пользователю запрещается копировать, модифицировать, изменять, удалять, дополнять,  публиковать, передавать содержащиеся на Сайте результаты интеллектуальной деятельности, создавать производные работы, изготавливать или продавать товары/оказывать услуги на их основе, воспроизводить, отображать или любым другим образом эксплуатировать или использовать такие результаты интеллектуальной деятельности без прямого разрешения  Администратора.</p>
      <p>При цитировании материалов Сайта, если это прямо предусмотрено функциями Сайта, Пользователь​  ​ обязуется​  ​ указывать​  ​ ссылку​  ​ на​  ​ Сайт.</p>
      <p>9.3.​  ​ Во​  ​ избежание​  ​ сомнений,​  ​ Пользователю​  ​ запрещается:<br>
      - копировать и/или распространять какую-либо информацию (включая части и компоненты занятий по программе видеокурсов, статей, логотипов и товарных знаков/знаков обслуживания), полученную на Сайте, кроме случаев, когда такая функция прямо предусмотрена на​  ​ Сайте​  ​ (например,​  ​ “Поделиться”/​  ​ “Сделать​  ​ репост”);<br>
      - использовать информацию, полученную на Сайте, для осуществления коммерческой деятельности, извлечения прибыли, либо для использования любым противоречащим закону способом, за исключением навыков, приобретенных на основе полученной в соответствии с Соглашением​  ​ информации;<br>
      - копировать, либо иным способом использовать программную часть (программный код или  часть​  ​ кода)​  ​ Сайта,​  ​ а​  ​ также​  ​ его​  ​ дизайн;<br>
      - размещать на Сайте персональные данные третьих лиц без их согласия, в том числе, но не ограничиваясь:​  ​ домашние​  ​ адреса,​  ​ телефоны,​  ​ паспортные​  ​ данные,​  ​ адреса​  ​ электронной​  ​ почты;<br>
      - размещать на Сайте коммерческую рекламу, коммерческие предложения, агитационную информацию и любую другую навязчивую информацию, кроме случаев, когда размещение такой информации​  ​ прямо​  ​ согласовано​  ​ с​  ​ Администратором;<br>
      - изменять каким бы то ни было способом программную часть Сайта, совершать действия, направленные​  ​ на​  ​ изменение​  ​ функционирования​  ​ и​  ​ работоспособности​  ​ Сайта;
      - оскорблять и иным образом нарушать права и свободы других пользователей Сайта, третьих​  ​ лиц,​  ​ а​  ​ также​  ​ групп​  ​ лиц;<br>
      - использовать нецензурную брань, осуществлять либо распространять информацию, содержащую призывы к массовым беспорядкам, осуществлению экстремистской деятельности, участию в массовых (публичных) мероприятиях, проводимых с нарушением установленного порядка, распространять информацию, необходимую для получения результатов интеллектуальной​  ​ деятельности.</p>
      <br>


      <h1>10.​  ​ ПЕРСОНАЛЬНЫЕ​  ​ ДАННЫЕ​  ​ И​  ​ ИХ​  ​ ИСПОЛЬЗОВАНИЕ</h1>
      <p>10.1. Цель, порядок, сроки и иные существенные условия, при которых Администратор обрабатывает персональные данные Пользователей, определены в Политике Администратора по обработке​  ​ персональных​  ​ данных,​  ​ расположенной​  ​ по​  ​ сетевому​  ​ адресу​ https://startup-lessons.ru/pages/privacy.</p>
      <br>

      <h1>11.​  ​ ОТВЕТСТВЕННОСТЬ</h1>
      <p>11.1. В случае нарушения Пользователем условий Соглашения, законодательства Российской  Федерации, норм морали и нравственности, либо технических требований Администратор вправе заблокировать или удалить личный кабинет, запретить либо ограничить доступ по учетным данным Пользователя к определенным или всем функциям Сайта, курсам, бесплатным​  ​ занятиям.</p>
      <p>11.2. При выявлении случаев предоставления Пользователем доступа к личному кабинету третьим лицам, Администратор по своему выбору применяет меры, предусмотренные пунктом 11.1. Соглашения. При этом Администратор вправе полностью заблокировать доступ Пользователя к личному кабинету и курсам, в том числе, заранее оплаченным Пользователем.</p>
      <p>11.3. Нарушение Пользователем условий Соглашения, повлекшее неблагоприятные последствия для Администратора (ущерб, административная и иная ответственность, предупреждения правоохранительных и иных органов исполнительной власти, претензии третьих лиц), является основанием для Администратора прекратить доступ Пользователя к видеокурсу, при этом  денежные средства в счет оплаты ежемесячной подписки на доступ к курсу возврату не подлежат и являются штрафом за действия Пользователя.</p>
      <p>11.4. В случае нарушения Пользователем интеллектуальных прав Администратора, а также ограничений по использованию Сайта, указанных в разделе 9 Соглашения, Администратор вправе в любой момент без предупреждения заблокировать такому Пользователю полностью или частично доступ на Сайт и в Личный кабинет, а также, по своему усмотрению, обратиться к соответствующему Пользователю с требованием об устранении нарушений и/или потребовать устранить​  ​ нарушения​  ​ в​  ​ судебном​  ​ порядке.</p>
      <p>11.5. Администратор не отвечает за работоспособность Сайта и не гарантирует его бесперебойной работы. Администратор также не гарантирует сохранности информации, размещенной на Сайте и возможности​  ​ бесперебойного​  ​ доступа​  ​ к​  ​ программам​  ​ обучения,​  ​ курсам​  ​ и​  ​ иным​  ​ материалам.</p>
      <p>11.6. Пользователь использует Сайт в том виде, в каком он представлен, на собственный риск. Администратор не гарантирует Пользователю достижения каких-либо результатов вследствие использования​  ​ Сайта.</p>
      <br>

      <h1>12.​  ​ ОСОБЫЕ​  ​ УСЛОВИЯ</h1>
      <p>12.1. Сайт может содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и содержание их сайтов/контента не проверяются Администратором на соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.).  Администратор не несет ответственности за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым Пользователь получает доступ с использованием Сайта, в том числе, за любые мнения или утверждения, выраженные на сайтах третьих лиц, рекламу и т.п., а также​  ​ за​  ​ доступность​  ​ таких​  ​ сайтов​  ​ или​  ​ контента​  ​ и​  ​ последствия​  ​ их​  ​ использования​  ​ Пользователем.</p>
      <p>12.2. Администратор не гарантирует, что Сайт соответствует требованиям Пользователя, что доступ​  ​ к​  ​ Сайту​  ​ будет​  ​ предоставляться​  ​ непрерывно,​  ​ быстро,​  ​ надежно​  ​ и​ без​  ​ ошибок.</p>
      <p>12.3. Программно-аппаратные ошибки как на стороне Администратора, так и на стороне Пользователя, приведшие к невозможности получения Пользователем доступа к Сайту и/или видеокурсам, являются обстоятельствами непреодолимой силы и  основанием освобождения от ответственности за неисполнение обязательств Администратором по Соглашению.</p>
      <br>

      <h1>13.​  ​ ПОРЯДОК​  ​ РАЗРЕШЕНИЯ​  ​ СПОРОВ</h1>
      <p>13.1. Все споры, разногласия и претензии, которые могут возникнуть в связи с заключением,  исполнением, изменением, расторжением или признанием недействительным Соглашения,  Стороны будут стремиться решить путем переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой Стороне сообщение с указанием возникших претензий и/или разногласий.
      Сообщение Пользователя о возникших претензиях и/или разногласиях должно быть направлено Пользователем Администратору по электронному адресу ​ maxilead.agency@gmail.com​ , а также продублировано в письменном виде по адресу Администратора, указанному в настоящем Соглашении.
      Сообщение Администратора о возникших претензиях и/или разногласиях направляется Администратором Пользователю по электронному адресу Пользователя, указанному при  регистрации​  ​ на​  ​ Сайте,​  ​ либо​  ​ иным​  ​ образом,​  ​ позволяющим​  ​ зафиксировать​  ​ факт​  ​ отправки.</p>
      <p>13.2. В случае, если ответ на сообщение не будет получен направившей сообщение Стороной в течение 30 (тридцати) рабочих дней с даты направления соответствующего сообщения, либо если  Стороны не придут к соглашению по возникшим претензиям и/или разногласиям, спор подлежит разрешению​  ​ в​  ​ судебном​  ​ порядке​  ​ по​  ​ месту​  ​ нахождения​  ​ Администратора.</p>
      <br>

      <h1>14.​  ​ ИЗМЕНЕНИЕ​  ​ УСЛОВИЙ​  ​ СОГЛАШЕНИЯ</h1>
      <p>14.1. Администратор вправе в любой момент по своему усмотрению в одностороннем порядке изменять условия Соглашения, при этом такие изменения вступают в силу в момент опубликования новой​  ​ версии​  ​ Соглашения​  ​ на​  ​ Сайте.</p>
      <p>14.2. При каждом последующем посещении Сайта до начала пользования Личным кабинетом и/или иными функциональными возможностями Сайта Пользователь обязуется знакомиться с новой версией Соглашения. Продолжение использования Сайта и Личного кабинета будет означать согласие​  ​ Пользователя​  ​ с​  ​ условиями​  ​ новой​  ​ версии​  ​ Соглашения.</p>
      <p>14.3. Если Пользователь не согласен с условиями новой версии Соглашения, он обязан прекратить пользоваться​  ​ Сайтом.</p>
      <p>14.4. В том случае, если Пользователь оплатил программы обучения и видеокурс, но не согласен с новой версией Соглашения, то такой Пользователь обязан уведомить об этом Администратора, отправив сообщение на адрес электронной почты ​ maxilead.agency@gmail.com​ . В этом случае Пользователь может завершить оплаченные программы обучения и использовать видеокурсы до их завершения. По завершении оплаченных программ обучения и видеокурсов Пользователь  обязан прекратить пользоваться Сайтом или согласиться с новой версией Соглашения. При этом продолжение использования Личного кабинета иных функциональных возможностей Сайта будет означать​  ​ принятие​  ​ Пользователем​  ​ условий​  ​ новой​  ​ версии​  ​ Соглашения.</p>
      <br>

      <h1>15.​  ​ ЗАКЛЮЧИТЕЛЬНЫЕ​  ​ ПОЛОЖЕНИЯ</h1>
      <p>20.1. Соглашение и все возникающие из него правоотношения регулируются законодательством Российской Федерации с учетом его коллизионных норм. Все возникающие споры разрешаются в  соответствии​  ​ с​  ​ законодательством​  ​ Российской​  ​ Федерации.</p>
      <p>20.2. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному​  ​ исполнению​  ​ не​  ​ влечет​  ​ недействительности​  ​ иных​  ​ положений​  ​ Соглашения.</p>
      <p>20.3. Бездействие со стороны Администратора в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администратора права предпринять позднее соответствующие действия в защиту своих интересов и защиту интеллектуальных прав на охраняемые в соответствии с законодательством результаты интеллектуальной деятельности, размещенные на Сайте.</p>
      <p>20.4. Пользователь подтверждает, что ознакомился со всеми положениями Соглашения, понимает  и​  ​ принимает​  ​ их.</p>
    </div>
  </div>
</div>
