<div class="blog">
  <div class="row">
    <div class="col-lg-12 text-center">
      <%= link_to blog_path do %>
        <%= image_tag "logo.png", class: "footer-logo" %>
        <h2>Блог Startup Lessons</h2>
      <% end %>
      <br>
    </div>

    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">

              <%= image_tag "antongolosnichenko.jpg", class: "img-circle avatar-huge" %>

              <script src="https://platform.twitter.com/widgets.js"></script>
              <a href="https://twitter.com/intent/follow?screen_name=@angolosnichenko">
                  <button class="c4s-btn c4s-btn-twitter c4s-btn c4s-btn-twitter">Подписаться на @AnGolosnichenko</button>
              </a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <p>Привет, меня зовут Антон, мне 26 лет.</p>
              <p>Последние 10 лет я увлекаюсь программированием и веб-разработкой, маркетингом и аналитикой. С 2016 года работаю в одном из ведущих агентств performance-маркетинга в России.</p>
              <p>Я основал проект StartupLessons, потому что у меня есть мечта научить тысячи людей создавать и продвигать собственные цифровые продукты. StartupLessons - это не только уроки по программированию, маркетингу и аналитике, в первую очередь это источник вдохновения для людей, чтобы создавать что-то осмысленное, что-то, чем можно будет гордиться</p>
              <p>Так что скорее приступайте к занятиям, и вперед к новым приключениям! :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <% @posts.each do |post| %>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel">
          <%= link_to post do %>
            <div class="panel-heading" style="background-image: url(<%= post.image.url %>);background-size:100%"></div>
          <% end %>
          <div class="panel-body">
            <%= link_to post.title, post %>
            <p><b class="pull-right text-green"><%= post.timing %> минут на чтение</b></p>
            <br>
            <p><%= post.shortnote %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
