<div class="blog-detail">
  <div class="row">
    <div class="col-lg-12 text-center">
      <%= link_to blog_path do %>
        <%= image_tag "logo.png", class: "footer-logo" %>
        <h2>Блог Startup Lessons</h2>
      <% end %>
      <br>
    </div>
    <div class="col-lg-12 col-md-12 blog-detail-heading">
      <div class="row">
        <div class="col-lg-6" style="background-image: url(<%= @post.image.url %>); background-size:100%">
        </div>
        <div class="col-lg-6 text-center">
          <%= image_tag "antongolosnichenko.jpg", class: "img-circle avatar-large" %>
          <p class="text-green">Антон Голосниченко</p>
          <br>
          <h1><%= @post.title %></h1>
          <br>
          <p><%= @post.timing %> минут на чтение</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <div class="panel">
      <div class="panel-body">
        <div class="blog-content">
          <%= @post.note %>
        </div>
        <div class="row author-info">
          <div class="col-lg-4 col-md-4 col-sm-4 text-center">
            <%= image_tag "antongolosnichenko.jpg", class: "img-circle avatar-huge" %>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p><b>Автор</b></p>
            <h3>Антон Голосниченко, основатель StartupLessons</h3>
            <p>Антон также является экспертом в области performance-маркетинга, аналитики, Fullstack-разработчиком и инструктором в StartupLessons</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
    //this.page.url = '<%= request.fullpath %>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'post_<%= @post.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://startup-lessons-ru.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
  </div>
</div>
