<br><br><br>
<!-- PRO PROJECTS -->
<div class="row pro-projects" data-turbolinks="false">
  <div class="col-lg-12">
    <h1 class="text-center">Продвинутые проекты</h1>
  </div>

  <% @projects.where("pricing_type='pro' AND status <> 'inactive'").each do |project| %>
      <div class="col-lg-4 col-md-4">
        <div class="panel">
          <% if project.status == 'active' %>
            <%= link_to project do %>
            <div class="panel-heading">
              <div class="">
                <%= image_tag project.image(:thumb) %>
              </div>
            </div>
            <% end %>
          <% else %>
          <div class="panel-heading draft">
            <div class="">
              <%= image_tag project.image(:thumb), class: "img-fluid" %>
              <div class="overlay">
                <p class="white-text">Скоро</p>
              </div>
            </div>
          </div>
          <% end %>

          <div class="panel-body">
            <hr>
            <div class="title">
              <% if project.status == 'active' %>
                <%= link_to project.name, project, class: "title" %>
              <% else %>
                <p class="title"><%= project.name %></p>
              <% end %>
            </div>
            <% if project.status == 'active' %>
              <ul class="nav nav-pills vote">
                <li><span id="average_rating_<%= project.id %>"></span></li>
                <li><span> (<%= project.reviews.count %> <%= project.reviews.count > 1? "отзывов" : "отзыв" %>)</span></li>
              </ul>
            <% end %>
            <p><i class="far fa-clock"></i> <span><%= project.duration %> часов</span></p>
            <div class="stack-group">
              <% project.project_stacks.each do |project_stack| %>
                <span class="stack"><%= project_stack.title %></span>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    <script type="text/javascript">
      $('#average_rating_<%= project.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= project.average_rating %>
      });
    </script>
  <% end %>
</div>
  <!-- FREE PROJECTS -->
  <div class="row free-projects" data-turbolinks="false">
    <div class="col-lg-12">
      <h1 class="text-center">Бесплатные проекты</h1>
    </div>

    <% @projects.where("pricing_type='free'").each do |project| %>
        <div class="col-lg-4 col-md-4">
          <div class="panel">
            <%= link_to project do %>
            <div class="panel-heading" style="background-image: url('<%= image_path project.image(:thumb) %>'); background-size:100%">
            </div>
            <% end %>

            <div class="panel-body panel-pro">
              <div class="title">
                <%= link_to project.name, project, class: "title" %>
              </div>
              <ul class="nav nav-pills vote">
                <li><span id="average_rating_<%= project.id %>"></span></li>
                <li><span> (<%= project.reviews.count %> <%= project.reviews.count > 1? "отзывов" : "отзыв" %>)</span></li>
              </ul>
              <br>
              <span style="padding: 2px 5px; background-color: #07CEB4; color: #FFFFFF; border-radius: 5px;">Бесплатно</span>
              <span class="pull-right"><i class="far fa-clock"></i> <span><%= project.duration %> часов</span></span>
              <div class="stack-group">
                <% project.project_stacks.each do |project_stack| %>
                  <span class="stack"><%= project_stack.title %></span>
                <% end %>
              </div>
            </div>

          </div>
        </div>


      <script type="text/javascript">
        $('#average_rating_<%= project.id %>').raty({
          path: '/assets',
          readOnly: true,
          score: <%= project.average_rating %>
        });
      </script>
    <% end %>
</div>
<hr>
    <!-- PARTNERS -->
    <div class="row trusted">
        <div class="col-lg-12">
            <h2 class="text-center">StartupLessons рекомендует сервисы партнеров:</h2>
        </div>

        <div class="col-lg-2 col-lg-offset-5 col-sm-2 col-sm-offset-5">
          <a href="https://beget.com/p792554" rel="nofollow">
            <%= image_tag "beget.png", class: "center-block", style: "height: 60px" %>
          </a>
        </div>

    </div>
