<br><br>
<% if @projects.count >0 %>
  <div class="row" data-turbolinks="false">
    <div class="col-lg-12 col-md-12">
      <h1 class="text-center">Мои проекты</h1>
    </div>
  </div>


  <% if @projects.where("pricing_type='pro' AND status = 'active'").count > 0 %>
    <hr width="30%">
    <div class="row pro-projects">
      <% @projects.where("pricing_type='pro'").each do |project| %>
        <div class="col-lg-4 col-sm-6">
          <div class="panel">
            <div class="panel-body panel-pro">
              <%= link_to project, class: "title" do %><%= project.name %><% end %>
              <p>
                <span style="padding: 2px 5px; background-color: #E75857; color: #FFFFFF; border-radius: 5px;">Продвинутый</span>
                <span class="pull-right"><i class="far fa-clock"></i> <span><%= project.duration %> часов</span></span>
              </p>
              <hr>
              <div id="progress_bar">
                <div class="text-center">
                  <p><span id="user_progress"><% if current_user.completed_tasks.count > 0 %><%= current_user.completed_tasks.count %><% else %>0<% end %></span> / <%= project.tasks.where("header <> '1'").count %> заданий выполнено</p>
                  <div class="progress__bar">
                    <div class="bar__completed" style="width: <% if current_user.completed_tasks.count > 0 %><%= (current_user.completed_tasks.count.to_f / project.tasks.where("header <> '1'").count.to_f * 100).round(2) %><% else %>0<% end %>%"></div>
                  </div>
                  </div>
                  <br>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @projects.where("pricing_type='free'").count > 0 %>
    <hr width="30%">
    <div class="row pro-projects">
      <% @projects.where("pricing_type='free'").each do |project| %>
        <div class="col-lg-4 col-sm-6">
          <div class="panel">
            <div class="panel-body panel-pro">
              <%= link_to project, class: "title" do %><%= project.name %><% end %>
              <p>
                <span style="padding: 2px 5px; background-color: #07CEB4; color: #FFFFFF; border-radius: 5px;">Бесплатный</span>
                <span class="pull-right"><i class="far fa-clock"></i> <span><%= project.duration %> часов</span></span>
              </p>
              <hr>
              <div id="progress_bar">
                <div class="text-center">
                  <p><span id="user_progress"><% if current_user.completed_tasks.count > 0 %><%= current_user.completed_tasks.count %><% else %>0<% end %></span> / <%= project.tasks.where("header <> '1'").count %> заданий выполнено</p>
                  <div class="progress__bar">
                    <div class="bar__completed" style="width: <% if current_user.completed_tasks.count > 0 %><%= (current_user.completed_tasks.count.to_f / project.tasks.where("header <> '1'").count.to_f * 100).round(2) %><% else %>0<% end %>%"></div>
                  </div>
                  </div>
                  <br>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row" data-turbolinks="false">
    <div class="col-lg-12 col-md-12">
      <h1 class="text-center">У вас пока нет активных проектов</h1>
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 ">
        <%= link_to "Показать все проекты", root_path, class: "c4s-btn c4s-btn-red c4s-btn-big center-block" %>
      </div>
    </div>
  </div>

<% end %>
