<% content_for :head do %>
	<title><%= @project.name %> | Startup Lessons</title>

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@startuplessonsru">
	<meta name="twitter:creator" content="@startuplessonsru">
	<meta name="twitter:title" content="<%= @project.name %>">
	<meta name="twitter:description" content="<%= @project.about %>">
	<meta name="twitter:image:src" content="<%= image_url @project.image%>">
	<!-- Open Graph data -->
	<meta property="og:site_name" content="Startup Lessons">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= @project.name %>">
	<meta property="og:description" content="<%= @project.about %>">
	<meta property="og:image" content="<%= image_url @project.image%>">
<% end %>

<div class="row project-detail">
	<div class="col-lg-12 text-center">
		<h1><%= @project.name %></h1>
		<div class="">
			<%= image_tag "antongolosnichenko.jpg", class: "img-circle avatar-large" %>
			<p>Антон Голосниченко</p>
			<% if @joined %>
				<br><br>
				<button id="facebook" type="button" class="btn btn-success" style="padding: 15px; font-size: 18px;">Помогите Антону рассказать миру об этом классном курсе :)</button>
			<% end %>
		</div>
	</div>

	<!-- ПРАВАЯ ПАНЕЛЬ -->
	<div class="col-lg-3 col-lg-push-9 col-md-3 col-md-push-9 project-aside">
		<div class="">
			<div class="">
				<div class="">
					<div class="">
						<div class="panel panel-project-aside">
							<!-- IF NOT JOINED THIS COURSE -->
								<div class="panel-body">
									<!-- End of If Premium project -->
		              <%= image_tag @project.image(:tiny), class: "center-block" %>
		          		<!-- NINJA & PRO PROJECTS -->
									<% if (!@joined || (current_user.plan == 'free' && @project.pricing_type == 'pro')) %>
										<% if user_signed_in? %>
												<% if (current_user.plan == 'free' && @project.pricing_type == 'pro' && @joined) %>
													<%= form_tag subscribe_path do %>
														<%= hidden_field_tag 'project_id', @project.id %>
														<button type="submit" class="c4s-btn c4s-btn-red c4s-btn-big center-block">Восстановить подписку</button>
													<% end %>
												<% else %>
							            <%= form_tag subscribe_path do %>
							              <%= hidden_field_tag 'project_id', @project.id %>
							              <button type="submit" class="c4s-btn c4s-btn-red c4s-btn-big center-block">Начать курс</button>
							            <% end %>
												<% end %>
										<% else %>
											<%= link_to new_user_session_path do  %>
												<button type="submit" class="c4s-btn c4s-btn-red c4s-btn-big center-block">Начать курс</button>
											<% end %>
										<% end %>
										<div class="row">
											<div class="col-lg-12">
													<div class="row">
															<div class="col-lg-offset-1 col-lg-1 col-md-offset-0 col-md-1 col-sm-offset-4 col-sm-1 col-xs-offset-2 col-xs-1">
																	<i class="far fa-file-code fa-lg"></i>
															</div>
															<div class="col-lg-9 col-md-10 col-sm-6 col-xs-8"><p>Полный исходный код</p></div>
													</div>
											</div>
											<div class="col-lg-12">
													<div class="row">
															<div class="col-lg-offset-1 col-lg-1 col-md-offset-0 col-md-1 col-sm-offset-4 col-sm-1 col-xs-offset-2 col-xs-1">
																	<i class="fa fa-comments fa-lg"></i>
															</div>
															<div class="col-lg-9 col-md-10 col-sm-6 col-xs-8"><p>Помощь автора</p></div>
													</div>
											</div>
										</div>
								<% else %>
									<!-- IF ALREADY JOINED THIS COURSE -->
									<div id="progress_bar">
	                  <div class="text-center">
										  <p><span id="user_progress"><% if current_user.completed_tasks.count > 0 %><%= current_user.completed_tasks.count %><% else %>0<% end %></span> / <%= @project.tasks.where("header <> '1'").count %> заданий выполнено</p>
										  <div class="progress__bar">
										    <div class="bar__completed" style="width: <% if current_user.completed_tasks.count > 0 %><%= (current_user.completed_tasks.count.to_f / @project.tasks.where("header <> '1'").count.to_f * 100).round(2) %><% else %>0<% end %>%"></div>
										  </div>
										</div>
										<br>
									</div>

		              <div id="review-total">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 text-center">
												<span id="average_rating"></span>
												<div>(<%= @reviews.count %> <%= @reviews.count > 1? "отзывов" : "отзыв" %>)</div>
											</div>
										</div>
		              </div>
									<br>
		              <button type="button" class="c4s-btn c4s-btn-reverse center-block" data-toggle="modal" data-target="#myModal">Добавьте отзыв</button>
								<% end  %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ЛЕВАЯ ПАНЕЛЬ -->
	<div class="col-lg-9 col-md-9 col-lg-pull-3 col-md-pull-3">
		<div class="panel">
			<div class="panel-heading panel-heading-tabs">
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<!-- IF NOT JOINED THIS COURSE -->
					<% if (!@joined || (current_user.plan == 'free' && @project.pricing_type == 'pro')) %>
							<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">ОПИСАНИЕ</a></li>
							<% if @project.pricing_type != 'free' %>
								<li role="presentation"><a href="#sample" aria-controls="sample" role="tab" data-toggle="tab">ПРИМЕРЫ УРОКОВ <span class="badge"><%= @preview_videos.count %></span></a></li>
							<% end %>
							<li role="presentation"><a href="#task" aria-controls="task" role="tab" data-toggle="tab">ЗАДАНИЯ <span class="badge"><%= @tasks.where("header <> '1'").count %></span></a></li>
							<li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">ОТЗЫВЫ <span class="badge"><%= @reviews.count %></span></a></li>
					<% end %>
				</ul>
			</div>
			<div class="tab-content">
				<% if (!@joined || (current_user.plan == 'free' && @project.pricing_type == 'pro')) %>
					<div role="tabpanel" class="tab-pane tab-overview active" id="overview">
						<div class="panel-body">
							<% if @project.video.present? %>
								<div id="wistia_<%= @project.video %>"></div>
							<% end %>
							<h3>Описание</h3>
							<p><%= markdown_with_html(@project.about) %></p>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane tab-sample" id="sample">
						<div class="panel-body">
							<br>
							<h3>Примеры уроков</h3>
							<div class="row">
								<% number = 1 %>
								<% @preview_videos.each do |preview_video| %>
									<div class="col-lg-4">
										<div class="panel">
											<div class="panel-heading">
												Превью #<%= number %>
											</div>
											<div class="panel-body">
												<div id="preview-<%= preview_video.video %>" class="img-fluid text-center">
													<% thumbnail_image_location = JSON.parse(open('http://vimeo.com/api/v2/video/'+ preview_video.video + '.json').read).first['thumbnail_large'] rescue nil %>
													<img src="<%= thumbnail_image_location %>" data-toggle="modal" data-target="#previewModal_<%= preview_video.video %>">
												</div>
											</div>
										</div>
									</div>
									<% number = number + 1 %>
								<% end %>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane tab-reviews" id="reviews">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<%= render 'reviews/index' %>
								</div>
							</div>
						</div>
					</div>

				<% end %>
				<div class="tab-pane tab-task <% if (!@joined || (current_user.plan == 'free' && @project.pricing_type == 'pro')) %> <% else %> active <% end %>" role="tabpanel" id="task">
					<ul class="list-group">
						<% @tasks.where("header = '1'").each do |task| %>
							<li class="list-group-item">
								<div class="">
									<div class="">
										<div class="lock">
											<% if (!@joined || (current_user.plan == 'free' && @project.pricing_type == 'pro')) %>
											<i class="fa fa-lock fa-3x hidden-xs" aria-hidden="true"></i>
											<i class="fa fa-lock fa-lg hidden-lg hidden-md hidden-sm" aria-hidden="true"></i>
											<% else %>
		                    <i class="fa fa-check fa-3x hidden-xs" aria-hidden="true"></i>
		                    <i class="fa fa-check fa-lg hidden-lg hidden-md hidden-sm" aria-hidden="true"></i>
											<% end %>
	                  </div>
										<div class="task-info">

													<p><%= task.title %></p>
													<p><%= task.note %></p>
													<% $subtaskid = task.tag + 1 %>
												<ul class="list-group">
													<% @tasks.where("tag >= #{$subtaskid}").order("tag desc").each do |task| %>
														<% if !task.header %>
															<li class="list-group-item <% if user_signed_in? && current_user.completed?(task) %> task-completed <% end %> ">
																<%= link_to [task.project, task], :"data-turbolinks" => false do %>
																	<%= task.title %>
																<% end %>
																<span class="pull-right">
																	<%= task.timing %>&nbsp;
																	<span id="task_complete_button_<%= task.id %>">
																		<%= render partial: "completed_task/button", locals: {task: task} %>
																	</span>
																</span>
															</li>
														<% else %>
															<% break %>
														<% end %>
													<% end %>
												</ul>


										</div>
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="myModal" class="modal fade" role="dialog" aria-hidden="true" style="display:none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Отзывы об этом проекте</h4>
			</div>
			<div class="modal-body">
				<div id="review-form">
					<%= render 'reviews/form' if @joined && !@hasReview %>
				</div>
				<div id="review-list">
					<div class="col-lg-12">
						<%= render 'reviews/index' %>
					</div>
				</div>
				<p>&nbsp;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>

<% @preview_videos.each do |preview_video| %>
	<div class="modal fade" role="dialog" aria-hidden="true" id="previewModal_<%= preview_video.video %>">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">Превью урока</h4>
				</div>
				<div class="modal-body">
					<iframe id="preview-video-<%= preview_video.video %>" src="https://player.vimeo.com/video/<%= preview_video.video %>" width="100%" height="399" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('#previewModal_<%= preview_video.video %>').on('hidden.bs.modal', function (e) {
			var iframe = document.getElementById('preview-video-<%= preview_video.video %>');
			var player_<%= preview_video.video %> = new Vimeo.Player(iframe);
			player_<%= preview_video.video %>.pause();
		})
	</script>

<% end %>

<script>
  $(document).ready(function() {
      // Project detail Page (Fixed Aside)
      var fixed = false;
      $(document).scroll(function(e) {
          if ($(this).scrollTop() >= $(".project-detail > .col-lg-9").offset().top - 104 && !fixed) {
              $(".project-aside").addClass("project-aside-fixed");
              $(".project-aside > div").addClass("container");
              $(".project-aside > div > div").addClass("row");
              $(".project-aside > div > div > div").addClass("col-lg-offset-9 col-lg-3 col-md-offset-9 col-md-3");
              $(".project-detail > .col-lg-9").removeClass("col-lg-pull-3").removeClass("col-md-pull-3");
              fixed = true;
          } else if (!($(this).scrollTop() >= $(".project-detail > .col-lg-9").offset().top - 104) && fixed) {
              $(".project-aside").removeClass("project-aside-fixed");
              $(".project-aside > div").removeClass("container");
              $(".project-aside > div > div").removeClass("row");
              $(".project-aside > div > div > div").removeClass("col-lg-offset-9 col-lg-3 col-md-offset-9 col-md-3");
              $(".project-detail > .col-lg-9").addClass("col-lg-pull-3").addClass("col-md-pull-3");
              fixed = false;
          }
      });
  });
</script>

<script>
  $(function() {
      $('#facebook').on('click', function() {
          var w = 580, h = 300,
                  left = (screen.width/2)-(w/2),
                  top = (screen.height/2)-(h/2);

              if ((screen.width < 480) || (screen.height < 480)) {
                  window.open ('https://www.facebook.com/sharer/sharer.php?u=https://<%= request.host+request.fullpath %>', '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
              } else {
                  window.open ('https://www.facebook.com/sharer/sharer.php?u=https://<%= request.host+request.fullpath %>', '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
              }
      });
  });
</script>
