<div class="login">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
      <div class="panel panel-c4s">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Вход в аккаунт</h1>
        </div>

        <div class="panel-body text-center">
          <div class="social-login social-buttons">
            <span>Войти через:</span>
            <%= link_to user_facebook_omniauth_authorize_path, id: "facebook_link" do %>
              <%= image_tag "facebook.png" %>
            <% end %>
            <%= link_to user_vkontakte_omniauth_authorize_path, id: "vk_link" do %>
              <%= image_tag "vk.png" %>
            <% end %>
            <%= link_to user_google_oauth2_omniauth_authorize_path, id: "google_link" do %>
              <%= image_tag "google.png" %>
            <% end %>
          </div>
          <div class="or">
            <hr>
            <span>ИЛИ</span>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "c4s-form"}) do |f| %>
            <%= render partial: "shared/devisemes"%>
            <div class="row">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
                <%= f.email_field :email, :id => "email", :class => "c4s-input", :placeholder => "Email" %>
                <br>
                <%= f.password_field :password, :id => "password", :class => "c4s-input", :placeholder => "Пароль", autocomplete: "off"  %>
              </div>
            </div>
            <label>
              <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, "Запомнить меня" %>
                  |
              <% end %>
              <%= link_to "Восстановить пароль", new_user_password_path, :class => "text-red" %>
            </label>
            <br>
            <button class="c4s-btn c4s-btn-red" type="submit" name="action">Войти</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
