/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= stub active_admin
 *= require_tree .
 *= require_self
 */

@import "toastr";

.container {
    max-width: 1280px
}

body {
    padding-top: 10px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400
}

p {
    font-size: 18px
}

hr {
    border-color: lightgray;
    box-shadow: 0 0 1px lightgray
}

.text-gray {
    color: #747474;
    font-weight: 300
}

.text900 {
    font-weight: 600
}

.title {
    margin-top: 50px;
    margin-bottom: 50px
}

.title p {
    font-size: 20px
}

.web-img {
    box-shadow: 0 0 10px gray
}

.intro-text input {
    width: 60%;
    border-radius: 0;
    padding: 30px 15px;
    font-size: 17px;
    font-weight: 300
}

.intro-text .btn {
    background-color: #F56E76;
    color: white;
    border-radius: 0;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 400
}

.intro-img {
    position: relative
}

.intro-img .ios-img {
    position: absolute;
    bottom: -40px;
    right: 40px
}

.product .col-md-4 {
    margin-bottom: 80px;
    padding: 0 45px
}

.product-img {
    margin-bottom: 50px;
    height: 330px
}

.feature {
    margin-bottom: 50px
}

.feature .col-md-4 {
    min-height: 200px;
    padding: 0 45px
}

.team {
    margin-bottom: 30px
}

.team p {
    margin: 0
}

.team-container {
    max-width: 900px;
    margin: auto;
    padding: 15px
}

.team .col-md-4 {
    text-align: center;
    margin-bottom: 50px
}

.team .img-circle {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px
}

.project-name {
    font-size: 90px;
    font-weight: 600;
    color: #1ea698
}

.project-name .version {
    font-size: 120px;
    color: #fc5b62
}

.stack {
    border: 1px solid #E75857;
    border-radius: 5px;
    display: inline-block;
    color: #E75857;
    padding: 0 5px;
    margin-bottom: 5px
}

.stack.react {
    color: #00a4d3;
    border-color: #00a4d3
}

.stripe-form .group {
    margin: 20px 60px;
    padding: 0px 80px
}

.stripe-form.update-card-form .group {
    margin: 20px 20px;
    padding: 0px 60px
}

.group {
    background: white;
    border-radius: 4px;
    margin-bottom: 20px
}

.stripe-form .c4s-form .group label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 48px;
    line-height: 40px;
    display: flex;
    flex-direction: row
}

.group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA
}

.stripe-form .c4s-form .group label > span {
    width: 80px;
    text-align: right;
    margin-right: 30px
}

.stripe-form .field {
    background: transparent;
    font-weight: 300;
    border: 1px solid lightgray;
    border-radius: 26px;
    color: #31325F;
    outline: none;
    flex: 1;
    height: 48px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: text
}

.stripe-form .field::-webkit-input-placeholder {
    color: #CFD7E0
}

.stripe-form .field::-moz-placeholder {
    color: #CFD7E0
}

.stripe-form .field:focus, .stripe-form .field.StripeElement--focus {
    border-color: #24b47e
}

.stripe-form .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center
}

.stripe-form .error {
    display: none;
    font-size: 15px
}

.stripe-form .error.visible {
    display: inline
}

.stripe-form .error {
    color: #E4584C
}

.stripe-form .c4s-form span, .stripe-form .c4s-form a {
    display: inline;
    font-size: 15px
}

.stripe-form .c4s-form a:hover {
    text-decoration: underline
}

.stripe-form #btn_pay {
    float: left;
    display: block;
    background: #24b47e;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    border: 0;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    height: 48px;
    outline: none
}

.stripe-form .c4s-form button:focus {
    background: #24B47E
}

.stripe-form .c4s-form button:active {
    background: #159570
}

.stripe-form .c4s-form .c4s-radio {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left
}

.stripe-form .c4s-form .c4s-radio label {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px
}

.stripe-form .c4s-form .c4s-radio label > * {
    display: inline-block;
    vertical-align: middle
}

.stripe-form .c4s-form .c4s-radio label > span {
    font-size: 17px;
    margin-left: 5px;
    color: #515151
}

.stripe-form .c4s-form .c4s-radio label > span > span {
    font-size: 17px
}

.stripe-form .c4s-form .c4s-radio label > div {
    border-radius: 50%;
    border: 2px solid #515151;
    width: 20px;
    height: 20px
}

.stripe-form .c4s-form .c4s-radio label > .label {
    font-size: 12px;
    background-color: #515151;
    line-height: 18px;
    color: white
}

.stripe-form .c4s-form .c4s-radio input {
    visibility: hidden
}

.stripe-form .c4s-form .c4s-radio input:checked + label {
    border: 2px solid #24b47dba
}

.stripe-form .c4s-form .c4s-radio input:checked + label > span, .stripe-form .c4s-form .c4s-radio input:checked + label > span > span {
    color: #24b47dba
}

.stripe-form .c4s-form .c4s-radio input:checked + label > div {
    border-color: #24b47dba
}

.stripe-form .c4s-form .fa {
    line-height: 52px
}

.stripe-form .c4s-form select {
    border: 1px solid lightgray;
    padding: 10px;
    height: 52px;
    background-color: white;
    outline: 0
}

.stripe-form .c4s-form select:focus {
    border-color: #E75857
}

.container {
    max-width: 1280px
}

body {
    padding-top: 74px;
    font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #F2F2F2
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    color: #515151
}

h1 {
    font-size: 25px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 17px
}

h5 {
    font-size: 17px;
    color: #7d7d7d;
    margin-top: 0;
    margin-bottom: 30px
}

p, i, span {
    font-size: 14px;
    color: #7d7d7d
}

b {
    font-size: 14px;
    color: #4a4a4a
}

a {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    color: #4a4a4a;
    display: block
}

a:hover {
    text-decoration: none;
    color: #5dbb6c
}

hr {
    border-top: 1px solid lightgray
}

.panel {
    border: 1px solid #dddddd;
    box-shadow: none;
    border-radius: 10px
}

.title {
    margin-top: 1px;
    margin-bottom: 1px
}

.list-group-item {
    border: 0
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.badge {
    border-radius: 15%
}

.progress__bar {
    margin-top: 10px;
    border-radius: 7px;
    overflow: hidden;
    height: 10px;
    background-color: #e6e6e6
}

.progress__bar .bar__completed {
    height: 100%;
    background-color: #17aa1c
}

.fa-completed.fa-check-circle:hover {
    color: #28B62C
}

.fa-incompleted.fa-check-circle:hover {
    color: #7d7d7d
}

.text-red {
    color: #5dbb6c
}

.text-green {
    color: #27B882
}

.avatar-tiny {
    width: 29px;
    height: 29px
}

.avatar-small {
    width: 37px;
    height: 37px
}

.avatar-medium {
    width: 45px;
    height: 45px
}

.avatar-large {
    width: 60px;
    height: 60px
}

.avatar-huge {
    width: 130px;
    height: 130px
}

.c4s-btn {
    border-radius: 22px;
    padding: 10px 35px;
    font-size: 15px;
    border: 0;
    min-width: 104px;
    color: white;
    background-color: red;
    opacity: 0.9;
    outline: none;
    text-align: center
}

.c4s-btn-reverse {
    padding: 10px 20px;
    border: 1px solid #5dbb6c;
    color: #5dbb6c;
    background-color: white;
    opacity: 1;
    transition: color 0.1s, background-color 0.1s;
    text-align: center
}

.c4s-btn-reverse:hover {
    color: white;
    background-color: #5dbb6c
}

.c4s-btn:hover {
    color: white;
    opacity: 1
}

.c4s-btn:active {
    opacity: 0.9
}

.c4s-btn-big {
    font-size: 18px;
    padding: 15px 35px;
    border-radius: 30px
}

.c4s-btn-shadow {
    box-shadow: 0 0 15px #b0b0b0
}

.c4s-btn-twitter {
    background-color: #1b95e0
}

.c4s-text-ninja {
    color: #D526AF
}

.c4s-text-value {
    color: #26D59C
}

.c4s-text-unlimited {
    color: #ebac00
}

.c4s-btn-red {
    background-color: #5dbb6c
}

.c4s-btn-ninja {
    background-color: #D526AF
}

.c4s-btn-value {
    background-color: #26D59C
}

.c4s-btn-unlimited {
    background-color: #ebac00
}

.c4s-btn-cirle {
    border-radius: 50%;
    border: 0;
    text-align: center;
    color: white;
    background-color: #E75857;
    opacity: 0.9;
    outline: none
}

.c4s-btn-cirle-small {
    width: 29px;
    height: 29px
}

.c4s-btn-cirle-medium {
    width: 37px;
    height: 37px
}

.c4s-btn-cirle-large {
    width: 43px;
    height: 43px
}

.c4s-btn-cirle-reverse {
    border: 1px solid #5dbb6c;
    color: #5dbb6c;
    background-color: white;
    opacity: 1;
    transition: color 0.1s, background-color 0.1s
}

.c4s-btn-cirle-reverse:hover {
    color: white;
    background-color: #5dbb6c
}

.c4s-btn-cirle-reverse:active {
    opacity: 0.9
}

.icon-btn {
    cursor: pointer;
    opacity: 0.9
}

.icon-btn:hover {
    opacity: 1
}

.icon-btn:active {
    opacity: 0.9
}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-15 {
    width: 20%;
    float: left
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left
    }
}

.vote .fa-star {
    color: #E75857
}

.vote .star-o {
    color: #D8D8D8
}

.task-info p:first-child {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px
}

.task-info p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px
}

.task-info .list-group {
    margin-bottom: 0
}

.task-info .list-group .list-group-item {
    border-top: 1px solid lightgray;
    padding: 15px 0
}

.task-info a {
    margin-bottom: 0;
    font-size: 15px;
    display: inline
}

.task-info .list-group .list-group-item.task-active a {
    color: #E75857
}

.task-info a:hover span {
    color: #E75857
}

.task-info .list-group .list-group-item.task-active a span, .task-info .list-group .list-group-item.task-active a i,
.task-info .list-group .list-group-item.task-active span {
    color: #E75857
}

.task-info .list-group .list-group-item.task-active a span, .task-info .list-group .list-group-item.task-active span {
    font-size: 17px
}

.task-info .list-group .list-group-item.task-active a i {
    font-size: 24px
}

.task-info .list-group .list-group-item.task-active.task-completed i {
    color: #28B62C
}

.task-info .list-group .list-group-item.task-completed i {
    color: #28B62C
}

.stack {
    border: 1px solid #E75857;
    border-radius: 5px;
    display: inline-block;
    color: #E75857;
    padding: 0 5px;
    margin-bottom: 5px
}

.new-flag {
    position: absolute;
    top: 0;
    left: 40px;
    width: 44px;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #B34141;
    padding: 10px 0;
    text-align: center;
    background-color: #E75857;
    color: white
}

.new-flag:before, .new-flag:after {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border-style: solid;
    top: 40px
}

.new-flag:after {
    left: 0;
    border-color: #E75857 #E75857 transparent #E75857;
    border-width: 0 21px 21px 21px
}

.new-flag:before {
    left: -1px;
    border-color: #B34141 #B34141 transparent #B34141;
    border-width: 1px 22px 22px 22px
}

.c4s-input {
    border: 1px solid lightgray;
    border-radius: 26px;
    padding: 10px 25px;
    width: 100%;
    margin-bottom: 20px;
    outline: 0
}

.c4s-input:focus {
    border: 1px solid #E75857
}

.panel-c4s .panel-heading {
    border-bottom: 1px solid lightgray
}

.panel-c4s .panel-heading .panel-title {
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 18px;
    color: #515151
}

.panel-c4s .panel-body {
    padding: 10px
}

.panel-c4s .panel-body .or {
    margin-top: 40px;
    margin-bottom: 40px
}

.panel-c4s .panel-body .or span {
    font-size: 18px;
    margin: -32px auto 0;
    display: block;
    background-color: white;
    width: 50px
}

.panel-c4s .panel-body > p {
    font-size: 17px;
    margin-bottom: 20px
}

.panel-c4s .panel-body > p a {
    display: inline-block;
    text-decoration: underline
}

.panel-c4s .text-with-highlight {
    color: #bcbcbc
}

.panel-c4s .text-with-highlight a {
    display: inline-block
}

.panel-c4s-border-ninja, .panel-c4s-border-ninja .panel-heading {
    border-color: #D526AF
}

.panel-c4s-border-ninja .panel-heading .panel-title {
    color: #D526AF
}

.panel-c4s-border-value, .panel-c4s-border-value .panel-heading {
    border-color: #26D59C
}

.panel-c4s-border-value .panel-heading .panel-title {
    color: #26D59C
}

.panel-c4s-border-unlimited, .panel-c4s-border-unlimited .panel-heading {
    border-color: #ebac00
}

.panel-c4s-border-unlimited .panel-heading .panel-title {
    color: #ebac00
}

.social-login span {
    font-size: 18px
}

.social-login a {
    display: inline-block;
    opacity: 0.8;
    margin-left: 10px
}

.social-login a:hover {
    opacity: 1
}

.c4s-form span, .c4s-form a {
    display: inline;
    font-size: 15px
}

.c4s-form a:hover {
    text-decoration: underline
}

.c4s-form button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 50px;
    border-radius: 30px
}

.panel-heading-tabs {
    padding: 0
}

.panel-heading-tabs .nav li {
    border-top: 0
}

.panel-heading-tabs .nav li a {
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EEEEEE;
    font-size: 15px
}

.panel-heading-tabs .nav li a, .panel-heading-tabs .nav li a:hover,
.panel-heading-tabs .nav li a:focus {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray
}

.panel-heading-tabs .nav li.active a, .panel-heading-tabs .nav li.active a:hover,
.panel-heading-tabs .nav li.active a:focus {
    border-top: 0;
    border-left: 0;
    background-color: white
}

.panel-heading-tabs .nav li:last-child a, .panel-heading-tabs .nav li:last-child a:hover,
.panel-heading-tabs .nav li:last-child a:focus {
    border-right: 1px solid transparent
}

.panel-heading-tabs .nav li:first-child a {
    border-top-left-radius: 10px
}

.panel-heading-tabs .nav li:last-child a {
    border-top-right-radius: 10px
}

.panel-heading-tabs .nav li.active .badge {
    background-color: #E75857
}

@media (max-width: 767px) {
    .panel-heading-tabs .nav li a {
        margin-bottom: 0
    }

    .panel-heading-tabs .nav li a, .panel-heading-tabs .nav li a:hover,
    .panel-heading-tabs .nav li a:focus, .panel-heading-tabs .nav li.active a,
    .panel-heading-tabs .nav li.active a:hover, .panel-heading-tabs .nav li.active a:focus,
    .panel-heading-tabs .nav li:last-child a, .panel-heading-tabs .nav li:last-child a:hover,
    .panel-heading-tabs .nav li:last-child a:focus {
        border-right: 0
    }

    .panel-heading-tabs .nav li:first-child a {
        border-top-right-radius: 10px
    }

    .panel-heading-tabs .nav li:last-child a {
        border-top-right-radius: 0
    }
}

.panel-disabled {
    position: relative
}

.panel-disabled:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 10px
}

.navbar {
    border: 0
}

.navbar-inverse {
    height: 74px;
    background-color: #505275
}

.navbar-inverse .container-fluid {
    padding: 0 40px
}

.navbar-inverse a {
    margin-bottom: 0
}

.navbar-inverse .navbar-header {
    padding: 0 15px
}

.navbar-inverse .navbar-header .navbar-brand {
    line-height: 74px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 30px;
    color: #e6e6e6
}

.navbar-inverse .navbar-header .navbar-brand:hover {
    color: white
}

.navbar-inverse .navbar-nav {
    margin: 0
}

.navbar-inverse .navbar-nav .dropdown:hover span {
    color: white
}

.navbar-inverse .navbar-nav .dropdown .fa {
    line-height: 74px;
    color: white
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav .col-xs-10 .dropdown > a {
    color: #e6e6e6;
    line-height: 74px;
    padding: 0 25px
}

.navbar-inverse .navbar-nav > li > a > span, .navbar-inverse .navbar-nav .col-xs-10 .dropdown > a > span {
    color: #e6e6e6;
    font-size: 17px
}

.navbar-inverse .navbar-nav > li > a > .img-circle {
    margin: 0 5px
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover, .nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
    background-color: #5c5e84
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: inherit
}

.navbar-inverse .navbar-nav .dropdown .dropdown-menu {
    background-color: white;
    box-shadow: 0 0 5px gray
}

.navbar-inverse .navbar-nav .c4s-btn {
    margin-top: 17px
}

.navbar-inverse .navbar-nav a.c4s-btn {
    color: white;
    line-height: 21px;
    padding: 10px 35px;
    font-size: 15px
}

.navbar-inverse .navbar-nav a.c4s-btn:hover {
    background-color: #5dbb6c
}

.banner {
    margin-top: 40px;
    margin-bottom: 70px
}

.panel-twitter {
    min-height: 316px;
    box-shadow: 0 2px 10px gray;
    border: 0
}

.panel-twitter .panel-heading {
    background-size: cover;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.panel-twitter .panel-body > p {
    font-size: 19px
}

.panel-twitter .panel-body img {
    margin-top: -80px;
    margin-bottom: 5px;
    width: 86px;
    height: 86px
}

.panel-twitter .panel-body .c4s-btn {
    margin-top: 30px;
    margin-bottom: 20px
}

.panel-twitter .panel-body .col-lg-6:first-child {
    border-right: 1px solid lightgray
}

.panel-twitter .panel-body .col-lg-6 p {
    margin: 0;
    font-size: 12px
}

.panel-twitter .panel-body .col-lg-6 p b {
    font-size: 14px
}

.banner-img {
    min-height: 316px;
    width: 100%;
    box-shadow: 0 2px 8px gray;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.banner-img > div {
    padding: 20px 60px
}

.banner-img > div h1 {
    font-size: 25px;
    color: #e5e5e5;
    margin-bottom: 10px
}

.banner-img > div p {
    margin-top: 30px;
    font-size: 16px;
    color: #c9c9c9
}

.premium-project {
    margin-bottom: 70px
}

.premium-project .col-lg-8 {
    padding: 30px 20px 30px 0
}

.premium-project .col-lg-8 img {
    width: 100%
}

.premium-project .panel-info {
    padding: 10px 20px
}

.premium-project .panel-info h3 {
    margin-bottom: 20px
}

.premium-project .panel-info ul {
    -webkit-padding-start: 20px
}

.featured-project {
    margin-bottom: 70px
}

.panel-intro, .panel-reviews {
    min-height: 570px
}

.panel-intro {
    background-color: white
}

.panel-intro .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 365px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat
}

.panel-intro .panel-heading > div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    height: 100%;
    position: relative
}

.panel-intro .panel-heading > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.9
}

.panel-intro .panel-heading > div img:hover {
    opacity: 1
}

.panel-intro .panel-body {
    padding: 40px
}

.panel-intro .panel-body a {
    font-size: 22px;
    margin-bottom: 20px
}

.panel-intro .panel-body p {
    font-size: 15px;
    color: #7d7d7d
}

.panel-reviews {
    background-color: white
}

.panel-reviews .panel-body {
    padding: 30px
}

.panel-reviews .panel-body .list-group {
    margin-bottom: 0
}

.panel-reviews .panel-body .list-group .list-group-item .col-lg-2 {
    padding: 0
}

.panel-reviews .panel-body .list-group .list-group-item .col-lg-10 {
    padding-right: 0
}

.panel-reviews .panel-body .list-group .list-group-item img {
    width: 100%;
    max-width: 50px;
    margin-bottom: 10px
}

.panel-reviews .panel-body .list-group .list-group-item p {
    font-size: 13px;
    margin-bottom: 5px
}

.free-projects {
    margin-bottom: 70px
}

.free-projects .panel {
    border-radius: 0
}

.free-projects .panel .panel-heading {
    border-radius: 0;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat
}

.free-projects .panel .panel-body {
    padding: 25px
}

.free-projects .panel .panel-body .title {
    min-height: 72px
}

.free-projects .panel .panel-heading > div {
    display: table-cell;
    vertical-align: middle
}

@media (max-width: 1199px) and (min-width: 768px) {
    .free-projects .panel .panel-body .title {
        min-height: 48px
    }
}

@media (max-width: 767px) {
    .free-projects .panel .panel-body .title {
        min-height: inherit
    }
}

.pro-projects {
    margin-bottom: 70px
}

.pro-projects .panel {
    padding: 20px
}

.pro-projects .panel .panel-heading {
    height: 150px;
    display: table;
    text-align: center;
    width: 100%;
    padding: 0
}

.pro-projects .panel .panel-heading > div {
    display: table-cell;
    vertical-align: middle
}

.pro-projects .panel .panel-heading img {
    max-height: 150px
}

.pro-projects .panel .panel-body .title {
    min-height: 47px
}

.pro-projects .panel .panel-body hr {
    margin-top: 0
}

.pro-projects .panel .panel-body .stack-group {
    margin-top: 20px;
    margin-bottom: 5px;
    min-height: 54px
}

.pro-projects .panel .panel-body .vote {
    margin-bottom: 10px
}

.pro-projects .panel .panel-body .learners li {
    margin-right: 6px;
    font-family: "Arial"
}

.pro-projects .panel .panel-body .learners li:last-child {
    margin-right: 0
}

.pro-projects .panel .panel-body .learners li img {
    margin-bottom: 10px
}

.upcoming-projects {
    margin-bottom: 70px
}

.upcoming-projects .panel {
    border-radius: 20px
}

.upcoming-projects .panel .panel-body > div {
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.upcoming-projects .panel p {
    font-size: 20px
}

.trusted {
    margin-top: 30px;
    margin-bottom: 30px
}

.trusted .col-lg-2 {
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.project-detail {
    margin-top: 40px;
    margin-bottom: 70px
}

.project-detail > .col-lg-12 {
    margin-top: 30px;
    margin-bottom: 80px
}

.project-detail > .col-lg-12 h1 {
    font-size: 33px
}

.project-detail > .col-lg-12 > div * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px
}

.project-aside {
    z-index: 1
}

.project-aside .panel-body:first-child {
    padding-top: 30px;
    padding-bottom: 10px
}

.project-aside .panel-body:first-child img {
    margin-bottom: 20px
}

.project-aside .panel-body:first-child > p b {
    font-size: 20px
}

.project-aside .panel-body > .row {
    margin-top: 20px
}

.project-aside .panel-body > .row > .col-lg-12 {
    margin-top: 10px
}

.project-aside .panel-body > .row > .col-lg-12 p {
    font-size: 15px
}

.project-aside .panel-body:last-child {
    padding: 15px 25px 20px
}

.project-aside h3 {
    margin-bottom: 30px
}

.project-aside .learners li {
    padding: 0 7px;
    margin-bottom: 12px;
    margin-left: 0;
    font-family: "Arial"
}

.project-aside-fixed {
    position: fixed;
    top: 104px;
    left: 0;
    width: 100%;
    padding: 0
}

@media (max-width: 1023px) {
    .project-aside-fixed {
        position: static
    }
}

.project-detail .col-lg-9 {
    z-index: 2
}

.project-detail .tab-overview {
    padding: 40px
}

.project-detail .tab-overview h3 {
    margin-top: 60px
}

.project-detail .tab-overview p {
    font-size: 16px;
    padding-left: 20px;
    line-height: 25px
}

.project-detail .tab-overview ul p {
    padding-left: 5px;
    line-height: 15px;
    margin-bottom: 4px
}

.project-detail .tab-task {
    margin-top: 50px;
    margin-bottom: 100px
}

.project-detail .tab-task > .list-group > .list-group-item {
    border-bottom: 2px solid lightgray;
    padding: 0 70px;
    margin-bottom: 0
}

.project-detail .tab-task > .list-group > .list-group-item > div {
    padding: 40px 0;
    border-left: 2px solid lightgray
}

.project-detail .tab-task > .list-group > .list-group-item:first-child > div {
    padding-top: 0
}

.project-detail .tab-task > .list-group > .list-group-item > div > div {
    position: relative;
    padding-left: 70px
}

.project-detail .tab-task > .list-group > .list-group-item > div > div .lock {
    position: absolute;
    top: 0;
    left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid lightgray;
    background-color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.project-detail .tab-task > .list-group > .list-group-item > div > div .lock i {
    color: lightgray
}

@media (max-width: 767px) {
    .project-detail .tab-task > .list-group > .list-group-item {
        padding: 0 40px
    }

    .project-detail .tab-task > .list-group > .list-group-item > div > div {
        padding-left: 40px
    }

    .project-detail .tab-task > .list-group > .list-group-item > div > div .lock {
        left: -20px;
        width: 40px;
        height: 40px
    }
}

.project-detail .tab-reviews .panel-body {
    padding: 60px
}

.project-detail .tab-reviews h4 {
    margin-top: 2px
}

.project-detail .tab-reviews .c4s-btn {
    margin-bottom: 20px
}

.project-detail .tab-reviews .list-group {
    margin-top: 80px
}

.project-detail .tab-reviews .list-group .list-group-item {
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    margin-bottom: 30px
}

.project-detail .tab-reviews .list-group .list-group-item:last-child {
    border-bottom: 0
}

.project-detail .tab-reviews .list-group .list-group-item p b {
    font-size: 15px
}

.project-detail .tab-reviews .list-group .list-group-item .vote {
    margin-bottom: 20px
}

.task-detail {
    background-color: white;
    padding-bottom: 100px
}

.task-detail .task-detail-menu {
    position: fixed;
    width: 600px;
    left: -600px;
    top: 74px;
    bottom: 0;
    background-color: #F4F4F4;
    z-index: 2;
    overflow: scroll
}

.task-detail .task-detail-menu > div {
    padding-top: 10px
}

.task-detail .task-detail-menu > .list-group {
    padding: 20px
}

.task-detail .task-detail-menu > .list-group > .list-group-item {
    border: 1px solid lightgray;
    box-shadow: 0 0 20px lightgray;
    margin-bottom: 20px;
    padding: 20px 30px
}

.task-detail .task-detail-wrapper i {
    top: 114px;
    left: 650px;
    position: fixed;
    color: white;
    opacity: 1
}

.task-detail .task-detail-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.47);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0
}

.task-detail .task-detail-content {
    padding: 60px
}

.task-detail .task-detail-content .col-lg-1 {
    margin-bottom: 15px
}

.task-detail .task-detail-content h1 {
    font-size: 25px;
    margin-bottom: 15px
}

.task-detail .task-detail-content p {
    font-size: 17px
}

.task-detail .task-detail-content .c4s-btn-cirle-reverse {
    margin-bottom: 10px
}

.task-detail .task-detail-content .c4s-btn-reverse {
    width: 100%;
    margin-bottom: 10px
}

.task-detail .task-detail-content .c4s-btn-reverse > * {
    display: inline-block;
    vertical-align: -1px
}

.task-detail .task-detail-content .c4s-btn-reverse:hover > * {
    color: white
}

@media (max-width: 767px) {
    .task-detail .task-detail-menu {
        width: 100%
    }

    .task-detail .task-detail-content {
        padding: 20px
    }
}

.task-detail .task-detail-content .task-detail-note {
    margin-top: 30px;
    margin-bottom: 30px
}

.task-detail .task-detail-content .task-detail-note h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #7D7D7D
}

.task-detail .task-detail-content .task-detail-note blockquote {
    margin-top: 10px;
    margin-bottom: 35px
}

.task-detail .task-detail-content .task-detail-note a {
    color: #E75857;
    display: inline-block
}

.task-detail .task-detail-content .task-detail-note a:hover {
    text-decoration: underline
}

.task-detail .task-detail-content .task-detail-note .CodeRay .line-numbers a {
    font-size: 13px;
    color: #4a4a4a;
    margin-bottom: 0;
    display: inline-block
}

.task-detail .task-detail-content .task-detail-note .CodeRay pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: whitesmoke;
    border: 0;
    border-radius: 0
}

.task-detail .task-detail-content .task-detail-note .CodeRay {
    margin-top: 10px;
    margin-bottom: 30px
}

.login {
    margin-top: 40px;
    margin-bottom: 70px
}

.credit-card {
    margin-top: 40px;
    margin-bottom: 70px
}

.credit-card h1 {
    font-size: 33px
}

.credit-card .card-expire input {
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center
}

.credit-card .card-expire input:focus {
    border: 1px solid #E75857
}

.credit-card .card-expire input:first-child {
    width: 50px
}

.credit-card .card-expire input:last-child {
    width: 80px
}

.credit-card .card-expire span {
    color: lightgray
}

.credit-card .tooltip {
    width: 150px
}

.credit-card .tooltip .tooltip-arrow {
    border-bottom-color: #333333
}

.credit-card .tooltip .tooltip-inner {
    text-align: left;
    background-color: #333333
}

.credit-card .tooltip b {
    color: white
}

.credit-card .tooltip p {
    color: #acacac;
    margin-top: 5px
}

.subscription {
    margin-top: 40px;
    margin-bottom: 70px
}

.subscription h1 {
    font-size: 33px
}

.subscription h2 {
    font-size: 27px
}

.subscription .panel-c4s .panel-body p {
    font-size: 15px
}

.subscription .panel-c4s .panel-body p b {
    font-size: 17px
}

.subscription .panel-c4s .panel-body h2 {
    margin-bottom: 8px
}

.subscription > .row > .col-lg-10 .panel {
    border: 0
}

.subscription > .row > .col-lg-10 .panel {
    border: 0
}

.subscription > .row > .col-lg-10 .panel .panel-body {
    padding: 30px
}

.subscription > .row > .col-lg-10 .panel h3 {
    margin-bottom: 15px
}

.subscription > .row > .col-lg-10 .panel p {
    font-size: 15px;
    margin-bottom: 0
}

.profile {
    margin-top: 40px;
    margin-bottom: 70px
}

.profile .profile-menu-vertical {
    position: absolute;
    width: 30%
}

.profile .profile-menu-vertical .nav {
    border-radius: 10px;
    border: 1px solid lightgray;
    border-right: 0
}

.profile .profile-menu-vertical .nav li a {
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray
}

.profile .profile-menu-vertical .nav li:first-child a {
    border-top: 0
}

.profile .profile-menu-vertical .nav li:first-child.active a {
    border-bottom: 0
}

.profile .profile-menu-vertical .nav li:last-child a {
    border-bottom: 0
}

.profile .profile-menu-vertical .nav li:last-child.active a {
    border-top: 0
}

.profile .profile-menu-vertical .nav li a:hover, .profile .profile-menu-vertical .nav li a:focus {
    background-color: transparent
}

.profile .profile-menu-vertical .nav li:first-child.active a {
    border-top-left-radius: 10px
}

.profile .profile-menu-vertical .nav li:last-child.active a {
    border-bottom-left-radius: 10px
}

.profile .profile-menu-vertical .nav li.active a {
    background-color: white;
    z-index: 2
}

.profile .profile-content > .panel {
    border-top-left-radius: 0
}

.profile .profile-content .panel .panel-body {
    padding: 40px 40px 10px
}

@media (max-width: 1023px) {
    .profile .profile-content .panel {
        border-top-left-radius: 10px
    }
}

.profile .profile-content .tab-account .img-circle {
    height: 91px;
    width: 91px;
    margin-bottom: 50px
}

.profile .profile-content .tab-account .tooltip {
    z-index: 1;
    opacity: 1;
    position: relative
}

.profile .profile-content .tab-account .tooltip.right .tooltip-arrow {
    border-right-color: #464646
}

.profile .profile-content .tab-account .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #464646
}

.profile .profile-content .tab-account .tooltip .tooltip-inner {
    text-align: left;
    background-color: #464646;
    max-width: none;
    padding: 5px 20px
}

.profile .profile-content .tab-account .tooltip .tooltip-inner p {
    color: #f2f2f2;
    font-size: 15px;
    margin-bottom: 0
}

.profile .profile-content .tab-account .current-password {
    border-color: #E75857
}

.profile .profile-content .tab-account .current-password::-webkit-input-placeholder {
    color: #E75857
}

.profile .profile-content .tab-account .current-password::-moz-placeholder {
    color: #E75857
}

.profile .profile-content .tab-account .current-password:-ms-input-placeholder {
    color: #E75857
}

.profile .profile-content .tab-subscription .panel-heading .panel-title {
    font-size: 18px;
    color: #7d7d7d
}

.profile .profile-content .tab-subscription .c4s-btn {
    padding-left: 20px;
    padding-right: 20px
}

.profile .profile-content .tab-subscription h4 {
    margin-bottom: 10px
}

.profile .profile-content .tab-subscription .text-with-highlight,
.profile .profile-content .tab-subscription .text-with-highlight a {
    font-size: 15px
}

.profile .profile-content .tab-subscription .tooltip {
    width: 150px
}

.profile .profile-content .tab-subscription .tooltip .tooltip-arrow {
    border-bottom-color: #333333
}

.profile .profile-content .tab-subscription .tooltip .tooltip-inner {
    text-align: left;
    background-color: #333333
}

.profile .profile-content .tab-subscription .tooltip b {
    color: white
}

.profile .profile-content .tab-subscription .tooltip p {
    color: #acacac;
    margin-top: 5px
}

.tag a {
    font-size: 14px
}

.tag * {
    display: inline-block
}

.bg-white {
    background-color: white;
    padding-top: 0px
}

.blog {
    margin-top: 40px;
    margin-bottom: 70px
}

.blog .panel {
    border-radius: 0
}

.blog .col-lg-12 .panel {
    margin-bottom: 50px
}

.blog .col-lg-12 .panel .panel-body {
    padding: 40px;
    box-shadow: 1px 1px 8px 2px lightgray
}

.blog .col-lg-12 .panel .panel-body img {
    margin-bottom: 30px;
    box-shadow: 0 0 3px 2px lightgray
}

.blog .col-lg-12 .panel .panel-body p {
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 20px
}

.blog .col-lg-6 .panel-heading {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover
}

.blog .col-lg-6 .panel-body {
    box-shadow: 1px 1px 8px 2px lightgray
}

.blog .col-lg-6 .panel-body a {
    font-size: 20px;
    min-height: 62px
}

.blog .col-lg-6 .panel-body p, .blog .col-lg-6 .panel-body b {
    font-size: 17px
}

.blog-detail {
    margin-top: 40px;
    margin-bottom: 100px
}

.blog-detail .blog-detail-heading {
    box-shadow: 1px 1px 8px 2px lightgray;
    margin-bottom: 50px;
    background-color: white
}

.blog-detail .blog-detail-heading .col-lg-6:first-child {
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px
}

.blog-detail .blog-detail-heading .col-lg-6:last-child {
    padding: 30px
}

.blog-detail .blog-detail-heading .col-lg-6:last-child h1 {
    color: #333333
}

.blog-detail .blog-detail-heading .col-lg-6:last-child p {
    font-size: 18px
}

.blog-detail .blog-detail-heading .col-lg-6:last-child img {
    margin-bottom: 10px
}

.blog-detail .panel {
    border: 0
}

.blog-detail .panel-body {
    padding: 40px
}

.blog-detail .panel-body {
    padding: 40px
}

.blog-detail .blog-content a {
    color: #E75857;
    text-decoration: underline;
    display: inline
}

.blog-detail .blog-content p {
    margin-top: 25px;
    margin-bottom: 25px
}

.blog-detail .blog-content, .blog-detail .blog-content a, .blog-detail .blog-content p,
.blog-detail .blog-content b, .blog-detail .blog-content span {
    font-size: 17px;
    line-height: 35px
}

.blog-detail .blog-content, .blog-detail .blog-content p, .blog-detail .blog-content b,
.blog-detail .blog-content span {
    color: #555555
}

.blog-detail .blog-content h1, .blog-detail .blog-content h2, .blog-detail .blog-content h3,
.blog-detail .blog-content h4, .blog-detail .blog-content h5, .blog-detail .blog-content h6 {
    color: #333333;
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 25px
}

.blog-detail .blog-content img {
    width: 100%
}

.blog-detail .author-info {
    margin-top: 100px
}

.blog-detail .author-info b, .blog-detail .author-info p {
    font-size: 18px
}

.blog-detail .author-info .avatar-huge {
    box-shadow: 0 0 3px 2px lightgray
}

.blank, .blank * {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inherit;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto
}

footer {
    background-color: white;
    padding: 40px 15px
}

footer p {
    font-size: 17px
}

footer p b {
    font-size: 17px
}

.footer-logo {
    width: 75px;
    height: 75px;
    margin-bottom: 15px
}

.footer-links {
    color: #7d7d7d
}

.footer-links a {
    display: inline-block;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 17px
}

.footer-social {
    margin-top: 30px
}

.footer-social a {
    display: inline-block;
    margin-right: 10px;
    opacity: 0.9
}

.footer-social a:hover {
    opacity: 1
}

.page-error a {
    width: 200px
}

.page-error h1 {
    margin-bottom: 10px
}

.text-error > span {
    font-size: 115px;
    color: #0C0732;
    font-family: "Rubik", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.text-error > * {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 10px
}

.text-error > * :first-child {
    margin-left: 0px
}

.c4s-btn-red i{
  color:white;
}

.social-buttons > a > img{
  width: 40px;
}

.draft{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.draft .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;

  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.draft:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}



.draft p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.draft:hover p {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.img-fluid > img{
  max-width: 100%;
  heigh: auto;
}
