<%= form_for ([@project, @review]) do |f| %>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-7 text-center">
        <h4>Оцените этот курс</h4>
      </div>
      <div class="col-lg-8 col-sm-8 col-xs-5">
        <div id="user_stars">

        </div>
        <span id="star_msg"></span>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <%= image_tag avatar_url(current_user), :class => "img-circle center-block avatar-large" %>
        <br>
        <%= f.submit :class => "c4s-btn c4s-btn-reverse center-block", :value => "Добавить отзыв" %>
      </div>
      <div class="col-lg-8 col-sm-8">
        <%= f.text_area :comment, id: "review_comment", placeholder: "Напишите здесь отзыв...", rows: "5", class: "form-control" %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :project_id, :value => @project.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

<% end %>

<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 0
  });

  $('input[name="review[star]"]').attr('required', true);

  $('form').on('keypress', function (e) {
    if (e.keyCode == 13) {
      return false;
    }
  });

  function checkStar() {
    if(!$('#user_stars').raty('score')) {
      $('#star_msg').html('<i class="fa fa-exclamation-triangle"></i> Please Select Your Rating Stars');
      $('#star_msg').css('color','red');
      return false;
    }
  };

</script>
