<% if @reviews.blank? %>
  <div class="text-center">Отзывов пока еще нет</div>
<% end %>
<ul class="list-group">
  <% @reviews.order("id desc").each do |r| %>

    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <%= image_tag avatar_url(r.user), class: "img-circle avatar-large" %>
        </div>

        <div class="col-lg-10 col-sm-10">
          <p><%= r.user.name %></p>
          <div id="stars_<%= r.id %>" class="nav nav-pills vote"></div>
          <p><%= r.comment %></p>
          <div>
            <%= link_to "Удалить", [@project,r], method: :delete, data: {confirm: "Вы уверены?"} if current_user && current_user.id == r.user.id%>
          </div>
        </div>
      </div>
    </li>

    <script type="text/javascript">
      $('#stars_<%= r.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= r.star %>
      });
    </script>
  <% end %>
</ul>
