<!DOCTYPE html>
<html>
  <head>
    <title>StartupLessons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1:1, maximum-scale=1, minimal-ui">

    <%= yield :head %>


  </head>

  <body>
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/message" %>


      <div class="container">
        <% if (current_page?(root_path) && (!user_signed_in?)) %>
        <div class="row banner">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-twitter">
                <div class="panel-heading" style="background-image: url(/twitter-panel-banner.jpg);"></div>
                <div class="panel-body">
                    <img alt="Logo" class="center-block" src="/logo.png">
                    <p class="text-center">Startup Lessons</p>

                    <script src="https://platform.twitter.com/widgets.js"></script>
                    <a href="https://twitter.com/intent/follow?">
                        <button class="c4s-btn c4s-btn-twitter c4s-btn-shadow center-block">Подписаться</button>
                    </a>


                    <div class="row text-center">
                        <div class="col-lg-6 col-xs-6">
                            <p><b>15</b></p>
                            <p>FOLLOWING</p>
                        </div>
                        <div class="col-lg-6 col-xs-6">
                            <p><b>1K+</b></p>
                            <p>FOLLOWERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-24">
            <div class="banner-img" style="background-image: url(/banner.jpg)">
                <div>
                  <h1>Научись программированию и маркетингу</h1>
                  <h1> на примере настоящих стартапов</h1>
                  <p>(AirBnb, UberEats, Tinder, Fiverr, ProductHunt...)</p>
                </div>
            </div>
        </div>
    </div>

        <% end %>
        <%= yield %>
      </div>


    <%= render partial: "shared/footer" %>
  </body>

  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $(".dropdown-trigger").dropdown();
      $('.tabs').tabs();
    });
  </script>

</html>
